etc/node-red/flows.json
[{"id":"cd50a717.709188","type":"tab","label":"Banco de prova de motores","disabled":false,"info":""},{"id":"ce818009.142b7","type":"tab","label":"Adams fora de uso","disabled":false,"info":""},{"id":"a029e9b8.9f4228","type":"tab","label":"RoboMaua","disabled":false,"info":""},{"id":"8193c2b9.bb051","type":"tab","label":"Entrada e saída de pedidos 4.0","disabled":false,"info":""},{"id":"f0cf2a5a.006fc8","type":"tab","label":"Nível de água","disabled":false,"info":""},{"id":"9252a1f1.69","type":"tab","label":"TCC - Gestão de energia","disabled":false,"info":""},{"id":"1ac884ed.ab5b3b","type":"tab","label":"Template Padrão","disabled":false,"info":""},{"id":"7701e68e.b21418","type":"tab","label":"TCC - Respirador Pulmonar IoT","disabled":false,"info":""},{"id":"f49a345f.bd2618","type":"tab","label":"TCC - Fluxo de cabeçote","disabled":false,"info":""},{"id":"582a8fbb.a9f48","type":"ui_tab","z":"","name":"Dinamômetro - Bloco B","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"8db9c761.be5608","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0c2a36","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#6388c5","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#9a9393","baseFont":"Arial,Arial,Helvetica,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#9a9393","edited":true},"page-titlebar-backgroundColor":{"value":"#000000","edited":true},"page-backgroundColor":{"value":"#002e56","edited":true},"page-sidebar-backgroundColor":{"value":"#004686","edited":true},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#004686","edited":true},"group-backgroundColor":{"value":"#004686","edited":true},"widget-textColor":{"value":"#ffffff","edited":true},"widget-backgroundColor":{"value":"#9a9393","edited":false},"widget-borderColor":{"value":"#004686","edited":true},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"287e2ee5.849902","type":"mqtt-broker","z":"","name":"Mosquitto weblab","broker":"weblab.maua.br","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"88dd6d51.c892a","type":"websocket-listener","z":"","path":"/ui","wholemsg":"false"},{"id":"13cd725e.786a4e","type":"websocket-client","z":"","path":"https://weblab.maua.br/ui","tls":"","wholemsg":"false"},{"id":"f02d3ade.e70ac8","type":"ui_group","z":"","name":"","tab":"582a8fbb.a9f48","order":4,"disp":false,"width":"28","collapse":false},{"id":"bbd30269.89a07","type":"vnc-client","z":"","host":"10.33.103.3","port":"58622","password":"Adam1!"},{"id":"a40464f1.9b4fc8","type":"mqtt-broker","z":"","name":"localhost","broker":"177.140.220.254","port":"1883","clientid":"62fd7272-0091-4865-b6c4-4a6381e767e8","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ec7c269a.030e28","type":"ui_tab","z":"","name":"Fábrica 4.0","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"ca08b514.93ec08","type":"ui_group","z":"","name":"Entrada de pedidos","tab":"ec7c269a.030e28","disp":true,"width":14,"collapse":false},{"id":"77f7e78f.6a4c78","type":"ui_group","z":"","name":"Worldmap","tab":"","disp":false,"width":"6","collapse":false},{"id":"8368ab58.13d0b8","type":"ui_tab","z":"","name":"Mini braco robotico","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"865468ee.44fff8","type":"ui_group","z":"","name":"Controle de um mini braco robotico","tab":"8368ab58.13d0b8","disp":false,"width":"25","collapse":false},{"id":"9ba15187.9e482","type":"ui_tab","z":"","name":"Tela Inicial","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"31417581.f0750a","type":"ui_group","z":"","name":"Retirada de pedidos","tab":"ec7c269a.030e28","disp":true,"width":14,"collapse":false},{"id":"4fe38909.ae0968","type":"typeformAPI","z":"","name":"teste"},{"id":"3b975cba.10f454","type":"ui_group","z":"","name":"Produtos em produção","tab":"ec7c269a.030e28","disp":true,"width":14,"collapse":false},{"id":"e084274c.fc15a8","type":"ui_group","z":"","name":"Recepção ","tab":"9ba15187.9e482","disp":false,"width":"20","collapse":false},{"id":"608f6009.c91ec","type":"ui_tab","z":"","name":"Controle e Nivel de Agua","icon":"dashboard","disabled":false,"hidden":false},{"id":"bc58c434.d6dfa8","type":"ui_group","z":"","name":"Bancada","tab":"608f6009.c91ec","disp":false,"width":7,"collapse":false},{"id":"1fa325bf.81743a","type":"ui_group","z":"","name":"Camera","tab":"608f6009.c91ec","disp":false,"width":"17","collapse":false},{"id":"9cbeb444.b3a0d8","type":"ui_tab","z":"","name":"TCC - Gestão de Energia","icon":"dashboard","disabled":false,"hidden":false},{"id":"e83bbad3.38ac78","type":"ui_group","z":"","name":"Consumo esperado pelo fabricante","tab":"9cbeb444.b3a0d8","order":3,"disp":true,"width":5,"collapse":false},{"id":"280b02c5.f7734e","type":"mqtt-broker","z":"","name":"DET visio","broker":"smartcampus.maua.br","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"85a1b94c.d99df8","type":"ui_spacer","name":"spacer","group":"bc58c434.d6dfa8","order":2,"width":1,"height":1},{"id":"7b7b7762.369208","type":"ui_spacer","name":"spacer","group":"bc58c434.d6dfa8","order":8,"width":3,"height":1},{"id":"66091132.4137c","type":"ui_spacer","name":"spacer","group":"bc58c434.d6dfa8","order":11,"width":3,"height":1},{"id":"36c79058.3529b","type":"ui_spacer","name":"spacer","group":"bc58c434.d6dfa8","order":15,"width":3,"height":1},{"id":"4951206f.14aeb","type":"ui_spacer","name":"spacer","group":"bc58c434.d6dfa8","order":20,"width":1,"height":1},{"id":"c43e1755.6bc5c8","type":"ui_group","z":"","name":"Graficos 2","tab":"d7afd63d.64df28","order":6,"disp":false,"width":20,"collapse":false},{"id":"2f4f4129.81b96e","type":"ui_group","z":"","name":"Botões","tab":"9cbeb444.b3a0d8","order":2,"disp":false,"width":5,"collapse":false},{"id":"3dc21d21.1ad7c2","type":"ui_group","z":"","name":"Hitórico de consumo","tab":"9cbeb444.b3a0d8","order":8,"disp":false,"width":5,"collapse":false},{"id":"74dfe24d.7b998c","type":"ui_group","z":"","name":"Dados em tempo real","tab":"9cbeb444.b3a0d8","order":4,"disp":true,"width":5,"collapse":false},{"id":"d7afd63d.64df28","type":"ui_tab","z":"","name":"TCC - Fluxo de cabeçote","icon":"dashboard","disabled":false,"hidden":false},{"id":"6092ba60.6e7174","type":"ui_group","z":"","name":"Tabela","tab":"d7afd63d.64df28","disp":false,"width":20,"collapse":false},{"id":"f0572b87.b00be8","type":"ui_group","z":"","name":"Gráfico","tab":"d7afd63d.64df28","disp":false,"width":"8","collapse":false},{"id":"32f33834.612888","type":"ui_group","z":"","name":"Status do sistema","tab":"9cbeb444.b3a0d8","order":1,"disp":false,"width":"5","collapse":false},{"id":"5a4461e2.15a73","type":"ui_group","z":"","name":"Fator de Potência","tab":"9cbeb444.b3a0d8","order":5,"disp":true,"width":5,"collapse":false},{"id":"840895d8.1a0c78","type":"ui_group","z":"","name":"Peças Produzidas","tab":"9cbeb444.b3a0d8","order":6,"disp":false,"width":5,"collapse":false},{"id":"64ba9a91.f9c2a4","type":"ui_group","z":"","name":"Energia consumida [kWh]","tab":"9cbeb444.b3a0d8","order":7,"disp":true,"width":5,"collapse":false},{"id":"c9357c93.4e25","type":"modbusSerialConfig","z":"","port":"COM1","baud":"19200","data":"8","parity":"even","stop":"1","name":""},{"id":"ab0c8924.f002a8","type":"ui_group","z":"","name":"Imagem","tab":"8368ab58.13d0b8","disp":false,"width":"6","collapse":false},{"id":"668d8268.05032c","type":"ui_spacer","name":"spacer","group":"865468ee.44fff8","order":2,"width":3,"height":1},{"id":"373fb5e.f5c7f4a","type":"ui_spacer","name":"spacer","group":"865468ee.44fff8","order":4,"width":8,"height":1},{"id":"4ee81056.ddcf1","type":"ui_spacer","name":"spacer","group":"865468ee.44fff8","order":5,"width":4,"height":1},{"id":"26787cd8.a0e984","type":"ui_spacer","name":"spacer","group":"865468ee.44fff8","order":9,"width":9,"height":1},{"id":"86710dde.3c392","type":"ui_spacer","name":"spacer","group":"865468ee.44fff8","order":10,"width":20,"height":1},{"id":"498af4a.1e8410c","type":"ui_spacer","name":"spacer","group":"865468ee.44fff8","order":12,"width":1,"height":1},{"id":"1df5d53f.1a77db","type":"ui_spacer","name":"spacer","group":"865468ee.44fff8","order":16,"width":1,"height":1},{"id":"aede856f.b908c8","type":"ui_spacer","name":"spacer","group":"865468ee.44fff8","order":21,"width":1,"height":1},{"id":"44aae7ef.bf3118","type":"ui_spacer","name":"spacer","group":"865468ee.44fff8","order":26,"width":1,"height":1},{"id":"fd66bc2e.27f04","type":"ui_spacer","name":"spacer","group":"865468ee.44fff8","order":29,"width":6,"height":1},{"id":"3a029308.63259c","type":"ui_spacer","name":"spacer","group":"865468ee.44fff8","order":32,"width":6,"height":1},{"id":"88559e00.6ec9c","type":"ui_spacer","name":"spacer","group":"f02d3ade.e70ac8","order":4,"width":4,"height":1},{"id":"a4ca7cc0.e33f3","type":"ui_spacer","name":"spacer","group":"f02d3ade.e70ac8","order":5,"width":4,"height":1},{"id":"ce30e5c5.8ff448","type":"ui_spacer","name":"spacer","group":"f02d3ade.e70ac8","order":8,"width":4,"height":1},{"id":"52f8b470.b137bc","type":"ui_spacer","name":"spacer","group":"f02d3ade.e70ac8","order":9,"width":4,"height":1},{"id":"d7b6f297.2623b","type":"ui_spacer","name":"spacer","group":"f02d3ade.e70ac8","order":12,"width":4,"height":1},{"id":"a0e8724b.ac04","type":"ui_spacer","name":"spacer","group":"f02d3ade.e70ac8","order":15,"width":4,"height":1},{"id":"1277b8cb.3f8f67","type":"ui_spacer","name":"spacer","group":"f02d3ade.e70ac8","order":18,"width":4,"height":1},{"id":"45ace3ef.21335c","type":"ui_spacer","name":"spacer","group":"f02d3ade.e70ac8","order":20,"width":1,"height":1},{"id":"c3ece928.ab46f8","type":"ui_spacer","name":"spacer","group":"f02d3ade.e70ac8","order":24,"width":4,"height":1},{"id":"cf3f8893.3042f8","type":"ui_spacer","name":"spacer","group":"f02d3ade.e70ac8","order":25,"width":1,"height":1},{"id":"324e367e.0854fa","type":"ui_spacer","name":"spacer","group":"f02d3ade.e70ac8","order":28,"width":4,"height":1},{"id":"ad56c0a0.a0ab3","type":"ui_spacer","name":"spacer","group":"f02d3ade.e70ac8","order":29,"width":1,"height":1},{"id":"d4802e97.5cafa","type":"ui_spacer","name":"spacer","group":"f02d3ade.e70ac8","order":31,"width":4,"height":1},{"id":"49aefa61.a6a214","type":"ui_spacer","name":"spacer","group":"f02d3ade.e70ac8","order":32,"width":19,"height":1},{"id":"ece826e3.a090f8","type":"ui_spacer","name":"spacer","group":"f02d3ade.e70ac8","order":33,"width":19,"height":1},{"id":"d030cec9.a72de","type":"ui_tab","z":"","name":"Template Padrão","icon":"dashboard","disabled":false,"hidden":false},{"id":"b2b97af3.9a6978","type":"ui_group","z":"","name":"Sinais Digitais","tab":"d030cec9.a72de","disp":true,"width":"12","collapse":false},{"id":"b0e3548e.1e4af8","type":"ui_group","z":"","name":"Sinais Analógicos","tab":"d030cec9.a72de","disp":true,"width":"12","collapse":false},{"id":"439f6c4f.2f6ce4","type":"ui_spacer","name":"spacer","group":"b2b97af3.9a6978","order":2,"width":1,"height":1},{"id":"c7bc810c.5a225","type":"ui_spacer","name":"spacer","group":"b2b97af3.9a6978","order":4,"width":1,"height":1},{"id":"ca368e9c.600d6","type":"ui_spacer","name":"spacer","group":"b2b97af3.9a6978","order":8,"width":1,"height":1},{"id":"ec338fc3.86d9b","type":"ui_spacer","name":"spacer","group":"b2b97af3.9a6978","order":10,"width":1,"height":1},{"id":"9f975d73.8506c","type":"ui_spacer","name":"spacer","group":"b2b97af3.9a6978","order":14,"width":1,"height":1},{"id":"660d582b.ed5978","type":"ui_spacer","name":"spacer","group":"b2b97af3.9a6978","order":16,"width":1,"height":1},{"id":"19f00dc1.baf882","type":"ui_spacer","name":"spacer","group":"b2b97af3.9a6978","order":20,"width":1,"height":1},{"id":"52c3e85b.2a40a8","type":"ui_spacer","name":"spacer","group":"b2b97af3.9a6978","order":22,"width":1,"height":1},{"id":"38dc8ee8.a5c152","type":"ui_spacer","name":"spacer","group":"b2b97af3.9a6978","order":26,"width":1,"height":1},{"id":"815aa1d7.0a8a3","type":"ui_spacer","name":"spacer","group":"b2b97af3.9a6978","order":28,"width":1,"height":1},{"id":"47fc6ffd.ac3be","type":"ui_spacer","name":"spacer","group":"b2b97af3.9a6978","order":32,"width":1,"height":1},{"id":"b5f0d4e6.f70238","type":"ui_spacer","name":"spacer","group":"b2b97af3.9a6978","order":34,"width":1,"height":1},{"id":"5c22715d.01446","type":"ui_spacer","name":"spacer","group":"b2b97af3.9a6978","order":38,"width":1,"height":1},{"id":"bddb84a8.54d048","type":"ui_spacer","name":"spacer","group":"b2b97af3.9a6978","order":40,"width":1,"height":1},{"id":"873f5ace.068078","type":"ui_spacer","name":"spacer","group":"b2b97af3.9a6978","order":44,"width":1,"height":1},{"id":"c8752fe5.5b647","type":"ui_spacer","name":"spacer","group":"b2b97af3.9a6978","order":46,"width":1,"height":1},{"id":"81296b9d.4548d8","type":"ui_spacer","name":"spacer","group":"b0e3548e.1e4af8","order":3,"width":6,"height":1},{"id":"8089e594.2a80d8","type":"ui_spacer","name":"spacer","group":"b0e3548e.1e4af8","order":4,"width":1,"height":1},{"id":"e5a5b1c8.24d8b","type":"ui_spacer","name":"spacer","group":"b0e3548e.1e4af8","order":7,"width":6,"height":1},{"id":"b52657a0.5f3c48","type":"ui_spacer","name":"spacer","group":"b0e3548e.1e4af8","order":10,"width":6,"height":1},{"id":"8f3d0bbf.ee4e68","type":"ui_spacer","name":"spacer","group":"b0e3548e.1e4af8","order":11,"width":1,"height":1},{"id":"4e38d8e8.f8fad8","type":"ui_spacer","name":"spacer","group":"b0e3548e.1e4af8","order":14,"width":6,"height":1},{"id":"505cc523.6290fc","type":"ui_spacer","name":"spacer","group":"b0e3548e.1e4af8","order":17,"width":6,"height":1},{"id":"39869e50.8b92a2","type":"ui_spacer","name":"spacer","group":"b0e3548e.1e4af8","order":18,"width":1,"height":1},{"id":"adfce588.9f1718","type":"ui_spacer","name":"spacer","group":"b0e3548e.1e4af8","order":21,"width":6,"height":1},{"id":"4b539fbf.08093","type":"ui_spacer","name":"spacer","group":"b0e3548e.1e4af8","order":24,"width":6,"height":1},{"id":"f9c7c23e.d7ced","type":"ui_spacer","name":"spacer","group":"b0e3548e.1e4af8","order":25,"width":1,"height":1},{"id":"e43824ad.740888","type":"ui_spacer","name":"spacer","group":"b0e3548e.1e4af8","order":28,"width":6,"height":1},{"id":"ff807e65.673fe","type":"ui_group","z":"","name":"Default","tab":"","disp":false,"width":"6","collapse":false},{"id":"d7fdd12f.2fa31","type":"ui_spacer","name":"spacer","group":"ff807e65.673fe","order":8,"width":6,"height":1},{"id":"dd99428c.b9294","type":"ui_spacer","name":"spacer","group":"ff807e65.673fe","order":9,"width":6,"height":1},{"id":"3d3be66f.81a5aa","type":"ui_spacer","name":"spacer","group":"ff807e65.673fe","order":10,"width":6,"height":1},{"id":"9e5716fe.4d2d68","type":"ui_spacer","name":"spacer","group":"ff807e65.673fe","order":11,"width":6,"height":1},{"id":"2d848394.185b4c","type":"ui_spacer","name":"spacer","group":"2af2d3b3.d1375c","order":3,"width":1,"height":1},{"id":"6952c6ca.03dbd8","type":"ui_spacer","name":"spacer","group":"2af2d3b3.d1375c","order":3,"width":1,"height":1},{"id":"fb31a0e9.ed311","type":"ui_group","z":"","name":"Data e Hora","tab":"7dde78a5.323e18","order":1,"disp":true,"width":"7","collapse":false},{"id":"4f09908c.220de","type":"ui_group","z":"","name":"Monitoramento Online","tab":"7dde78a5.323e18","order":3,"disp":true,"width":"15","collapse":false},{"id":"608ff1bc.ac71c","type":"ui_group","z":"","name":"Valores Monitoramento","tab":"7dde78a5.323e18","order":2,"disp":true,"width":"18","collapse":false},{"id":"7dde78a5.323e18","type":"ui_tab","z":"","name":"TCC - Respirador Pulmonar IoT","icon":"dashboard","disabled":false,"hidden":false},{"id":"5da8e12b.959d5","type":"ui_group","z":"","name":"Camera","tab":"7dde78a5.323e18","order":4,"disp":false,"width":"14","collapse":false},{"id":"fbf030ae.86b9d","type":"ui_group","z":"","name":"Fluxo","tab":"7dde78a5.323e18","order":5,"disp":false,"width":"15","collapse":false},{"id":"3492761e.4a148a","type":"ui_group","z":"","name":"Câmera","tab":"813dcff7.975cb","order":3,"disp":true,"width":"10","collapse":false},{"id":"813dcff7.975cb","type":"ui_tab","z":"","name":"DET-Vision","icon":"dashboard","order":5},{"id":"3de9b88a.6a87f8","type":"ui_spacer","name":"spacer","group":"c43e1755.6bc5c8","order":1,"width":20,"height":1},{"id":"78e7ebdf.e0d484","type":"ui_spacer","name":"spacer","group":"6092ba60.6e7174","order":1,"width":3,"height":1},{"id":"93bd99ad.d41328","type":"ui_spacer","name":"spacer","group":"6092ba60.6e7174","order":4,"width":1,"height":1},{"id":"db46bc60.5e307","type":"ui_spacer","name":"spacer","group":"6092ba60.6e7174","order":7,"width":1,"height":1},{"id":"70b86471.16137c","type":"ui_spacer","name":"spacer","group":"6092ba60.6e7174","order":13,"width":1,"height":1},{"id":"5947a3e6.19147c","type":"ui_spacer","name":"spacer","group":"6092ba60.6e7174","order":17,"width":4,"height":1},{"id":"d000b3f4.2ec06","type":"ui_spacer","name":"spacer","group":"6092ba60.6e7174","order":19,"width":3,"height":1},{"id":"19c29c29.67c1a4","type":"ui_spacer","name":"spacer","group":"6092ba60.6e7174","order":22,"width":4,"height":1},{"id":"5048c7ba.a85088","type":"ui_spacer","name":"spacer","group":"6092ba60.6e7174","order":23,"width":7,"height":1},{"id":"dc5db92b.d32f18","type":"ui_spacer","name":"spacer","group":"6092ba60.6e7174","order":26,"width":4,"height":1},{"id":"2036008b.f59a5","type":"ui_spacer","name":"spacer","group":"ca08b514.93ec08","order":5,"width":1,"height":1},{"id":"86e9f729.25bce8","type":"ui_spacer","name":"spacer","group":"ca08b514.93ec08","order":8,"width":1,"height":1},{"id":"b57e1a27.8dff78","type":"ui_spacer","name":"spacer","group":"ca08b514.93ec08","order":9,"width":1,"height":1},{"id":"11fde045.c22b7","type":"ui_spacer","name":"spacer","group":"ca08b514.93ec08","order":10,"width":1,"height":1},{"id":"47d137c7.5d6e88","type":"ui_spacer","name":"spacer","group":"ca08b514.93ec08","order":11,"width":1,"height":1},{"id":"715bb04f.7d3de","type":"ui_spacer","name":"spacer","group":"ca08b514.93ec08","order":12,"width":1,"height":1},{"id":"e56fcda7.e5331","type":"ui_spacer","name":"spacer","group":"ca08b514.93ec08","order":13,"width":1,"height":1},{"id":"3939215a.e0f3fe","type":"ui_spacer","name":"spacer","group":"ca08b514.93ec08","order":16,"width":1,"height":1},{"id":"4d1e5723.448d98","type":"ui_spacer","name":"spacer","group":"3b975cba.10f454","order":2,"width":2,"height":1},{"id":"82669bed.014888","type":"ui_spacer","name":"spacer","group":"3b975cba.10f454","order":6,"width":2,"height":1},{"id":"b44d2ef6.b6be1","type":"ui_spacer","name":"spacer","group":"3b975cba.10f454","order":8,"width":2,"height":1},{"id":"95ead147.ed13f","type":"ui_spacer","name":"spacer","group":"3b975cba.10f454","order":12,"width":2,"height":1},{"id":"1a7c5e78.9ce602","type":"ui_spacer","name":"spacer","group":"3b975cba.10f454","order":14,"width":2,"height":1},{"id":"856ab216.738b2","type":"ui_spacer","name":"spacer","group":"3b975cba.10f454","order":18,"width":2,"height":1},{"id":"be824c43.6b5cc","type":"ui_spacer","name":"spacer","group":"3b975cba.10f454","order":20,"width":2,"height":1},{"id":"28f81c26.f90734","type":"ui_spacer","name":"spacer","group":"3b975cba.10f454","order":24,"width":2,"height":1},{"id":"aa525c78.a63bf","type":"ui_spacer","name":"spacer","group":"3b975cba.10f454","order":26,"width":2,"height":1},{"id":"a9d63a57.4ea0a8","type":"ui_spacer","name":"spacer","group":"3b975cba.10f454","order":30,"width":2,"height":1},{"id":"6044ecc5.329f44","type":"comment","z":"cd50a717.709188","name":"ADAM 6066","info":"","x":90,"y":60,"wires":[]},{"id":"74322cc5.10eff4","type":"comment","z":"cd50a717.709188","name":"Pegando os dados","info":"","x":110,"y":100,"wires":[]},{"id":"801da529.56c068","type":"comment","z":"cd50a717.709188","name":"Subindo dados","info":"","x":100,"y":520,"wires":[]},{"id":"32af0f8d.cf499","type":"mqtt in","z":"cd50a717.709188","name":"ADAM 6066 DATA","topic":"Advantech/74FE4846B81A/data","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":110,"y":260,"wires":[["9158799a.32a0a8"]]},{"id":"1ec1fd59.c75b53","type":"mqtt out","z":"cd50a717.709188","name":"ADAM 6066 DO0","topic":"Advantech/74FE4846B81A/ctl/do1","qos":"0","retain":"false","broker":"287e2ee5.849902","x":290,"y":560,"wires":[]},{"id":"43495c18.de2224","type":"mqtt out","z":"cd50a717.709188","name":"ADAM 6066 DO1","topic":"Advantech/74FE4846B81A/ctl/do2","qos":"0","retain":"false","broker":"287e2ee5.849902","x":350,"y":600,"wires":[]},{"id":"325e1029.20a6c","type":"mqtt out","z":"cd50a717.709188","name":"ADAM 6066 DO2","topic":"Advantech/74FE4846B81A/ctl/do3","qos":"0","retain":"false","broker":"287e2ee5.849902","x":270,"y":640,"wires":[]},{"id":"ecdd5291.3a264","type":"mqtt out","z":"cd50a717.709188","name":"ADAM 6066 DO3","topic":"Advantech/74FE4846B81A/ctl/do4","qos":"0","retain":"false","broker":"287e2ee5.849902","x":310,"y":680,"wires":[]},{"id":"8b420b4d.0b64a8","type":"mqtt out","z":"cd50a717.709188","name":"ADAM 6066 DO4","topic":"Advantech/74FE4846B81A/ctl/do5","qos":"0","retain":"false","broker":"287e2ee5.849902","x":330,"y":720,"wires":[]},{"id":"2b703fe.5bd31c","type":"mqtt out","z":"cd50a717.709188","name":"ADAM 6066 DO5","topic":"Advantech/74FE4846B81A/ctl/do6","qos":"0","retain":"false","broker":"287e2ee5.849902","x":310,"y":760,"wires":[]},{"id":"9158799a.32a0a8","type":"json","z":"cd50a717.709188","name":"","property":"payload","action":"","pretty":false,"x":280,"y":260,"wires":[["ef26cc1f.9dce","68f747c8.568728","22766975.793cc6","c9f8f957.5e1cf8","27a624ba.b4e59c","ecd16282.71fa8","4b166726.d46968","54b6adab.291d34","e3c4dffe.feaa6","82023615.602718","5280ab72.99a484","28909da8.738832"]]},{"id":"ef26cc1f.9dce","type":"function","z":"cd50a717.709188","d":true,"name":"DI0","func":"var m = msg.payload;\nmsg.payload = m.di1;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":60,"wires":[["6fc12a3a.414894"]]},{"id":"68f747c8.568728","type":"function","z":"cd50a717.709188","d":true,"name":"DI1","func":"var m = msg.payload;\nmsg.payload = m.di2;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":140,"wires":[["ea669eee.1bb49"]]},{"id":"22766975.793cc6","type":"function","z":"cd50a717.709188","d":true,"name":"DI2","func":"var m = msg.payload;\nmsg.payload = m.di3;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["88b73b0e.479028"]]},{"id":"c9f8f957.5e1cf8","type":"function","z":"cd50a717.709188","d":true,"name":"DI3","func":"var m = msg.payload;\nmsg.payload = m.di4;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["95659b6.b9cab68"]]},{"id":"27a624ba.b4e59c","type":"function","z":"cd50a717.709188","d":true,"name":"DI4","func":"var m = msg.payload;\nmsg.payload = m.di5;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":380,"wires":[["5814ca0a.84cb64"]]},{"id":"ecd16282.71fa8","type":"function","z":"cd50a717.709188","d":true,"name":"DI5","func":"var m = msg.payload;\nmsg.payload = m.di6;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":460,"wires":[["6b2509a6.4e0308"]]},{"id":"28909da8.738832","type":"function","z":"cd50a717.709188","name":"DO0","func":"var m = msg.payload;\nmsg.payload = m.do1;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":60,"wires":[["b423399c.ae7498"]]},{"id":"5280ab72.99a484","type":"function","z":"cd50a717.709188","name":"DO1","func":"var m = msg.payload;\nmsg.payload = m.do2;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":140,"wires":[["4f75d4e4.a89ddc"]]},{"id":"82023615.602718","type":"function","z":"cd50a717.709188","name":"DO2","func":"var m = msg.payload;\nmsg.payload = m.do3;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":220,"wires":[["586b2547.7e35bc"]]},{"id":"e3c4dffe.feaa6","type":"function","z":"cd50a717.709188","name":"DO3","func":"var m = msg.payload;\nmsg.payload = m.do4;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":300,"wires":[["136cf2ee.6144ad"]]},{"id":"54b6adab.291d34","type":"function","z":"cd50a717.709188","name":"DO4","func":"var m = msg.payload;\nmsg.payload = m.do5;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":380,"wires":[["31a6ae5d.417c52"]]},{"id":"4b166726.d46968","type":"function","z":"cd50a717.709188","name":"DO5","func":"var m = msg.payload;\nmsg.payload = m.do6;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":460,"wires":[["60210a18.ac2fb4"]]},{"id":"6fc12a3a.414894","type":"switch","z":"cd50a717.709188","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":60,"wires":[["88c59426.fb7628"],["15a049e6.336866"]]},{"id":"88c59426.fb7628","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":40,"wires":[[]]},{"id":"15a049e6.336866","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":80,"wires":[[]]},{"id":"ea669eee.1bb49","type":"switch","z":"cd50a717.709188","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":140,"wires":[["c81c866f.ec40e8"],["c64399c8.acdce8"]]},{"id":"c81c866f.ec40e8","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":120,"wires":[[]]},{"id":"c64399c8.acdce8","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":160,"wires":[[]]},{"id":"88b73b0e.479028","type":"switch","z":"cd50a717.709188","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":220,"wires":[["7027f67e.36bfc8"],["a39056b6.5e3ec8"]]},{"id":"7027f67e.36bfc8","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":200,"wires":[[]]},{"id":"a39056b6.5e3ec8","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":240,"wires":[[]]},{"id":"95659b6.b9cab68","type":"switch","z":"cd50a717.709188","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":300,"wires":[["d82f3ee5.fa99c"],["84d5aaab.d47538"]]},{"id":"d82f3ee5.fa99c","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":280,"wires":[[]]},{"id":"84d5aaab.d47538","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":320,"wires":[[]]},{"id":"5814ca0a.84cb64","type":"switch","z":"cd50a717.709188","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":380,"wires":[["23dcb7ff.179598"],["f7241919.e18de8"]]},{"id":"23dcb7ff.179598","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":360,"wires":[[]]},{"id":"f7241919.e18de8","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":400,"wires":[[]]},{"id":"6b2509a6.4e0308","type":"switch","z":"cd50a717.709188","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":460,"wires":[["b0b5c969.85e258"],["caa78622.a3ae88"]]},{"id":"b0b5c969.85e258","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":440,"wires":[[]]},{"id":"caa78622.a3ae88","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":480,"wires":[[]]},{"id":"b423399c.ae7498","type":"switch","z":"cd50a717.709188","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":60,"wires":[["d4743356.0cf2d"],["eafdf115.6a999"]]},{"id":"d4743356.0cf2d","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":40,"wires":[["c606b384.59b9d"]]},{"id":"eafdf115.6a999","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":80,"wires":[["c606b384.59b9d"]]},{"id":"4f75d4e4.a89ddc","type":"switch","z":"cd50a717.709188","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":140,"wires":[["5ddbc7f1.4985d8"],["a6dbcf69.44cea"]]},{"id":"5ddbc7f1.4985d8","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":120,"wires":[["2b2c249f.52088c"]]},{"id":"a6dbcf69.44cea","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":160,"wires":[["2b2c249f.52088c"]]},{"id":"586b2547.7e35bc","type":"switch","z":"cd50a717.709188","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":220,"wires":[["b129ac9f.814a4"],["d4ff347b.a69318"]]},{"id":"b129ac9f.814a4","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":200,"wires":[["ea2e9a06.208598"]]},{"id":"d4ff347b.a69318","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":240,"wires":[["ea2e9a06.208598"]]},{"id":"136cf2ee.6144ad","type":"switch","z":"cd50a717.709188","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":300,"wires":[["d86ffc40.2042c"],["c7f0cc1a.1f5e2"]]},{"id":"d86ffc40.2042c","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":280,"wires":[["5967a8f2.da6d78"]]},{"id":"c7f0cc1a.1f5e2","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":320,"wires":[["5967a8f2.da6d78"]]},{"id":"31a6ae5d.417c52","type":"switch","z":"cd50a717.709188","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":380,"wires":[["80a262ee.6854b"],["ec8576bb.173fd8"]]},{"id":"80a262ee.6854b","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":360,"wires":[["b225edd7.b1072"]]},{"id":"ec8576bb.173fd8","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":400,"wires":[["b225edd7.b1072"]]},{"id":"60210a18.ac2fb4","type":"switch","z":"cd50a717.709188","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":460,"wires":[["1dab2b23.007865"],["ebd13d2c.ca746"]]},{"id":"1dab2b23.007865","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":440,"wires":[["8e6f8617.bd50b8"]]},{"id":"ebd13d2c.ca746","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":480,"wires":[["8e6f8617.bd50b8"]]},{"id":"d262366.8e5f8c8","type":"ui_switch","z":"cd50a717.709188","name":"DO0 - Inversor","label":"Inversor","tooltip":"","group":"f02d3ade.e70ac8","order":10,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"Advantech/74FE4846B81A/ctl/do1","style":"","onvalue":"{\"v\":true}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"v\":false}","offvalueType":"str","officon":"","offcolor":"","x":100,"y":560,"wires":[["1ec1fd59.c75b53"]]},{"id":"8e2cdca8.efe6b","type":"ui_switch","z":"cd50a717.709188","name":"DO2 -Bomba","label":"Bomba Injetora","tooltip":"","group":"f02d3ade.e70ac8","order":26,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"Advantech/74FE4846B81A/ctl/do3","style":"","onvalue":"{\"v\":true}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"v\":false}","offvalueType":"str","officon":"","offcolor":"","x":90,"y":640,"wires":[["325e1029.20a6c"]]},{"id":"f923420f.34efc","type":"ui_switch","z":"cd50a717.709188","name":"DO3 - Mega Squirt","label":"Mega Squirt","tooltip":"","group":"f02d3ade.e70ac8","order":16,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"Advantech/74FE4846B81A/ctl/do4","style":"","onvalue":"{\"v\":true}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"v\":false}","offvalueType":"str","officon":"","offcolor":"","x":110,"y":680,"wires":[["ecdd5291.3a264"]]},{"id":"24040aa6.f35b66","type":"ui_switch","z":"cd50a717.709188","name":"DO4 - Sonda Lambda","label":"Sonda Lambda (Etas)","tooltip":"","group":"f02d3ade.e70ac8","order":13,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"Advantech/74FE4846B81A/ctl/do5","style":"","onvalue":"{\"v\":true}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"v\":false}","offvalueType":"str","officon":"","offcolor":"","x":120,"y":720,"wires":[["8b420b4d.0b64a8"]]},{"id":"16ee31ad.41c6ae","type":"comment","z":"ce818009.142b7","d":true,"name":"ADAM 6017","info":"","x":90,"y":20,"wires":[]},{"id":"f384fa51.1a1f18","type":"comment","z":"ce818009.142b7","d":true,"name":"Pegando os dados","info":"","x":110,"y":60,"wires":[]},{"id":"c21d4b2.8c29fb8","type":"comment","z":"ce818009.142b7","d":true,"name":"Subindo dados","info":"","x":100,"y":500,"wires":[]},{"id":"f946500d.ccbc2","type":"mqtt in","z":"ce818009.142b7","d":true,"name":"ADAM 6017 DATA","topic":"Advantech/00D0C9E3224F/data","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":110,"y":300,"wires":[["33c41b4c.65ed74"]]},{"id":"b8e99c9b.63dbb","type":"comment","z":"ce818009.142b7","d":true,"name":"ADAM 6052","info":"","x":90,"y":660,"wires":[]},{"id":"964827b0.394f58","type":"comment","z":"ce818009.142b7","d":true,"name":"Pegando os dados","info":"","x":110,"y":700,"wires":[]},{"id":"f36311bb.9218e","type":"comment","z":"ce818009.142b7","d":true,"name":"Subindo dados","info":"","x":100,"y":1380,"wires":[]},{"id":"9f703ff5.17065","type":"mqtt in","z":"ce818009.142b7","d":true,"name":"ADAM 6052 DATA","topic":"Advantech/74FE4846A78D/data","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":110,"y":960,"wires":[["304f6a33.5c2676"]]},{"id":"d6558174.b6dca","type":"mqtt out","z":"ce818009.142b7","d":true,"name":"ADAM 6052 DO0","topic":"Advantech/74FE4846A78D/ctl/do1","qos":"0","retain":"false","broker":"287e2ee5.849902","x":390,"y":1420,"wires":[]},{"id":"8f9e018d.e7995","type":"mqtt out","z":"ce818009.142b7","d":true,"name":"ADAM 6017 DO0","topic":"Advantech/00D0C9E3224F/ctl/do1","qos":"0","retain":"false","broker":"287e2ee5.849902","x":390,"y":540,"wires":[]},{"id":"f8776143.81239","type":"mqtt out","z":"ce818009.142b7","d":true,"name":"ADAM 6017 DO0","topic":"Advantech/00D0C9E3224F/ctl/do2","qos":"0","retain":"false","broker":"287e2ee5.849902","x":390,"y":580,"wires":[]},{"id":"1d0c60d6.ad6b3f","type":"mqtt out","z":"ce818009.142b7","d":true,"name":"ADAM 6052 DO1","topic":"Advantech/74FE4846A78D/ctl/do2","qos":"0","retain":"false","broker":"287e2ee5.849902","x":390,"y":1460,"wires":[]},{"id":"a1cc4289.cc97","type":"mqtt out","z":"ce818009.142b7","d":true,"name":"ADAM 6052 DO2","topic":"Advantech/74FE4846A78D/ctl/do3","qos":"0","retain":"false","broker":"287e2ee5.849902","x":390,"y":1500,"wires":[]},{"id":"392a3b0c.9b63f4","type":"mqtt out","z":"ce818009.142b7","d":true,"name":"ADAM 6052 DO3","topic":"Advantech/74FE4846A78D/ctl/do4","qos":"0","retain":"false","broker":"287e2ee5.849902","x":390,"y":1540,"wires":[]},{"id":"77f0fbde.b5ab44","type":"mqtt out","z":"ce818009.142b7","d":true,"name":"ADAM 6052 DO4","topic":"Advantech/74FE4846A78D/ctl/do5","qos":"0","retain":"false","broker":"287e2ee5.849902","x":390,"y":1580,"wires":[]},{"id":"1021d8be.e65c57","type":"mqtt out","z":"ce818009.142b7","d":true,"name":"ADAM 6052 DO5","topic":"Advantech/74FE4846A78D/ctl/do6","qos":"0","retain":"false","broker":"287e2ee5.849902","x":390,"y":1620,"wires":[]},{"id":"dc7a3977.79d9b8","type":"mqtt out","z":"ce818009.142b7","d":true,"name":"ADAM 6052 DO6","topic":"Advantech/74FE4846A78D/ctl/do7","qos":"0","retain":"false","broker":"287e2ee5.849902","x":390,"y":1660,"wires":[]},{"id":"ccffa201.7b4c","type":"mqtt out","z":"ce818009.142b7","d":true,"name":"ADAM 6052 DO7","topic":"Advantech/74FE4846A78D/ctl/do8","qos":"0","retain":"false","broker":"287e2ee5.849902","x":390,"y":1700,"wires":[]},{"id":"5af72a95.8a7bf4","type":"function","z":"ce818009.142b7","d":true,"name":"AI0","func":"var m = msg.payload;\nmsg.payload = m.ai1;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":140,"wires":[[]]},{"id":"33c41b4c.65ed74","type":"json","z":"ce818009.142b7","d":true,"name":"","property":"payload","action":"","pretty":false,"x":270,"y":300,"wires":[["5af72a95.8a7bf4","9693f5ff.ab4d68","8f77e454.b138e8","d65dd79f.9d37e8","a5d5adfa.598f7","290aecb5.dc5384","22348d5e.b4e052","a9e7cf46.096ea","4695a99b.46c6d8","828efcdc.774c5"]]},{"id":"9693f5ff.ab4d68","type":"function","z":"ce818009.142b7","d":true,"name":"AI1","func":"var m = msg.payload;\nmsg.payload = m.ai2;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":220,"wires":[[]]},{"id":"8f77e454.b138e8","type":"function","z":"ce818009.142b7","d":true,"name":"AI2","func":"var m = msg.payload;\nmsg.payload = m.ai3;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":300,"wires":[[]]},{"id":"d65dd79f.9d37e8","type":"function","z":"ce818009.142b7","d":true,"name":"AI3","func":"var m = msg.payload;\nmsg.payload = m.ai4;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":380,"wires":[[]]},{"id":"a5d5adfa.598f7","type":"function","z":"ce818009.142b7","d":true,"name":"AI4","func":"var m = msg.payload;\nmsg.payload = m.ai5;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":460,"wires":[[]]},{"id":"290aecb5.dc5384","type":"function","z":"ce818009.142b7","d":true,"name":"AI5","func":"var m = msg.payload;\nmsg.payload = m.ai6;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":140,"wires":[[]]},{"id":"22348d5e.b4e052","type":"function","z":"ce818009.142b7","d":true,"name":"AI6","func":"var m = msg.payload;\nmsg.payload = m.ai7;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":220,"wires":[[]]},{"id":"a9e7cf46.096ea","type":"function","z":"ce818009.142b7","d":true,"name":"AI7","func":"var m = msg.payload;\nmsg.payload = m.ai8;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":300,"wires":[[]]},{"id":"4695a99b.46c6d8","type":"function","z":"ce818009.142b7","d":true,"name":"DO0","func":"var m = msg.payload;\nmsg.payload = m.do1;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":380,"wires":[["6258c9bb.ab18d8"]]},{"id":"828efcdc.774c5","type":"function","z":"ce818009.142b7","d":true,"name":"DO1","func":"var m = msg.payload;\nmsg.payload = m.do2;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":460,"wires":[["845391de.0d642"]]},{"id":"c0afb009.a85f1","type":"websocket in","z":"ce818009.142b7","d":true,"name":"6017 - DO0","server":"","client":"13cd725e.786a4e","x":90,"y":540,"wires":[[]]},{"id":"9eaecdb9.8091c","type":"websocket in","z":"ce818009.142b7","d":true,"name":"6017 - DO1","server":"","client":"13cd725e.786a4e","x":90,"y":580,"wires":[[]]},{"id":"b7a789d3.960ef8","type":"function","z":"ce818009.142b7","d":true,"name":"DI0","func":"var m = msg.payload;\nmsg.payload = m.di1;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":760,"wires":[["5048375f.66e448"]]},{"id":"304f6a33.5c2676","type":"json","z":"ce818009.142b7","d":true,"name":"","property":"payload","action":"","pretty":false,"x":270,"y":960,"wires":[["b7a789d3.960ef8","8330c383.4e9a","d64a5833.598df8","94125fc9.8de2f","5bcf8c19.cb6784","2b4d112c.6dc6ae","7c112d1e.2198c4","c290ea8b.2e0438","56e8979d.47a1a8","5e851521.084bfc","985e8d78.a6cd1","f913b7.df660c48","24b8193a.31afc6","ff3148d5.e7fcb8","47223e2e.9ddab","d2e0ab0f.615398"]]},{"id":"c290ea8b.2e0438","type":"function","z":"ce818009.142b7","d":true,"name":"DI1","func":"var m = msg.payload;\nmsg.payload = m.di2;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":840,"wires":[["d4abb8cb.5a86f8"]]},{"id":"7c112d1e.2198c4","type":"function","z":"ce818009.142b7","d":true,"name":"DI2","func":"var m = msg.payload;\nmsg.payload = m.di3;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":920,"wires":[["41f049be.7a3fc8"]]},{"id":"2b4d112c.6dc6ae","type":"function","z":"ce818009.142b7","d":true,"name":"DI3","func":"var m = msg.payload;\nmsg.payload = m.di4;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1000,"wires":[["8f132c99.5cf9c"]]},{"id":"5bcf8c19.cb6784","type":"function","z":"ce818009.142b7","d":true,"name":"DI4","func":"var m = msg.payload;\nmsg.payload = m.di5;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1080,"wires":[["aebe8abe.6765e8"]]},{"id":"94125fc9.8de2f","type":"function","z":"ce818009.142b7","d":true,"name":"DI5","func":"var m = msg.payload;\nmsg.payload = m.di6;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1160,"wires":[["bba9332.c8d6ad"]]},{"id":"d64a5833.598df8","type":"function","z":"ce818009.142b7","d":true,"name":"DI6","func":"var m = msg.payload;\nmsg.payload = m.di7;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1240,"wires":[["f90ffcbe.680df"]]},{"id":"8330c383.4e9a","type":"function","z":"ce818009.142b7","d":true,"name":"DI7","func":"var m = msg.payload;\nmsg.payload = m.di8;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1320,"wires":[["c71c7d16.56e78"]]},{"id":"d2e0ab0f.615398","type":"function","z":"ce818009.142b7","d":true,"name":"DO0","func":"var m = msg.payload;\nmsg.payload = m.do1;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":760,"wires":[["8e5dcf88.6246a"]]},{"id":"47223e2e.9ddab","type":"function","z":"ce818009.142b7","d":true,"name":"DO1","func":"var m = msg.payload;\nmsg.payload = m.do2;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":840,"wires":[["ae29fd13.f365f"]]},{"id":"ff3148d5.e7fcb8","type":"function","z":"ce818009.142b7","d":true,"name":"DO2","func":"var m = msg.payload;\nmsg.payload = m.do3;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":920,"wires":[["18148dfd.56cd62"]]},{"id":"24b8193a.31afc6","type":"function","z":"ce818009.142b7","d":true,"name":"DO3","func":"var m = msg.payload;\nmsg.payload = m.do4;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1000,"wires":[["c2bf3924.437bf8"]]},{"id":"f913b7.df660c48","type":"function","z":"ce818009.142b7","d":true,"name":"DO4","func":"var m = msg.payload;\nmsg.payload = m.do5;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1080,"wires":[["3d754ebb.768382"]]},{"id":"985e8d78.a6cd1","type":"function","z":"ce818009.142b7","d":true,"name":"DO5","func":"var m = msg.payload;\nmsg.payload = m.do6;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1160,"wires":[["7c6b64b5.52d32c"]]},{"id":"56e8979d.47a1a8","type":"function","z":"ce818009.142b7","d":true,"name":"DO6","func":"var m = msg.payload;\nmsg.payload = m.do7;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1240,"wires":[["aa354a61.8493e8"]]},{"id":"5e851521.084bfc","type":"function","z":"ce818009.142b7","d":true,"name":"DO7","func":"var m = msg.payload;\nmsg.payload = m.do8;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1320,"wires":[["ce5996d0.8188f8"]]},{"id":"c3804715.1f77b8","type":"websocket in","z":"ce818009.142b7","d":true,"name":"6052 - DO4","server":"","client":"13cd725e.786a4e","x":90,"y":1580,"wires":[[]]},{"id":"da273ce4.2095a","type":"websocket in","z":"ce818009.142b7","d":true,"name":"6052 - DO5","server":"","client":"13cd725e.786a4e","x":90,"y":1620,"wires":[[]]},{"id":"2107b672.207b0a","type":"websocket in","z":"ce818009.142b7","d":true,"name":"6052 - DO6","server":"","client":"13cd725e.786a4e","x":90,"y":1660,"wires":[[]]},{"id":"c10e5c74.9c489","type":"websocket in","z":"ce818009.142b7","d":true,"name":"6052 - DO7","server":"","client":"13cd725e.786a4e","x":90,"y":1700,"wires":[[]]},{"id":"315f7c7.35c5e84","type":"websocket in","z":"ce818009.142b7","d":true,"name":"6052 - DO0","server":"","client":"13cd725e.786a4e","x":90,"y":1420,"wires":[[]]},{"id":"4dd41d20.51db24","type":"websocket in","z":"ce818009.142b7","d":true,"name":"6052 - DO1","server":"","client":"13cd725e.786a4e","x":90,"y":1460,"wires":[[]]},{"id":"270eded4.771812","type":"websocket in","z":"ce818009.142b7","d":true,"name":"6052 - DO2","server":"","client":"13cd725e.786a4e","x":90,"y":1500,"wires":[[]]},{"id":"9727329f.3f197","type":"websocket in","z":"ce818009.142b7","d":true,"name":"6052 - DO3","server":"","client":"13cd725e.786a4e","x":90,"y":1540,"wires":[[]]},{"id":"6258c9bb.ab18d8","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":380,"wires":[["2bc4cd50.8039c2"],["415fb212.45c48c"]]},{"id":"2bc4cd50.8039c2","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":360,"wires":[[]]},{"id":"415fb212.45c48c","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":400,"wires":[[]]},{"id":"845391de.0d642","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":460,"wires":[["f6dbe067.b8663"],["9c83ef7.772421"]]},{"id":"f6dbe067.b8663","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":440,"wires":[[]]},{"id":"9c83ef7.772421","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":480,"wires":[[]]},{"id":"5048375f.66e448","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":760,"wires":[["2c15dceb.ffdd44"],["9d29a5c3.4bb6f8"]]},{"id":"2c15dceb.ffdd44","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":740,"wires":[[]]},{"id":"9d29a5c3.4bb6f8","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":780,"wires":[[]]},{"id":"d4abb8cb.5a86f8","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":840,"wires":[["166d892.c85bf77"],["9e48c697.6d4f88"]]},{"id":"166d892.c85bf77","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":820,"wires":[[]]},{"id":"9e48c697.6d4f88","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":860,"wires":[[]]},{"id":"41f049be.7a3fc8","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":920,"wires":[["f03d445f.1b0c28"],["33580f05.f75c6"]]},{"id":"f03d445f.1b0c28","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":900,"wires":[[]]},{"id":"33580f05.f75c6","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":940,"wires":[[]]},{"id":"8f132c99.5cf9c","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":1000,"wires":[["ef5762a6.48e71"],["1ee282fe.2f172d"]]},{"id":"ef5762a6.48e71","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":980,"wires":[[]]},{"id":"1ee282fe.2f172d","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1020,"wires":[[]]},{"id":"aebe8abe.6765e8","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":1080,"wires":[["926abe44.db714"],["13a2c7c.dad3638"]]},{"id":"926abe44.db714","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1060,"wires":[[]]},{"id":"13a2c7c.dad3638","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1100,"wires":[[]]},{"id":"bba9332.c8d6ad","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":1160,"wires":[["1e10e42a.02ab5c"],["b82fc55b.534158"]]},{"id":"1e10e42a.02ab5c","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1140,"wires":[[]]},{"id":"b82fc55b.534158","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1180,"wires":[[]]},{"id":"f90ffcbe.680df","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":1240,"wires":[["7dac8279.9b89dc"],["31bfdb6b.080fe4"]]},{"id":"7dac8279.9b89dc","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1220,"wires":[[]]},{"id":"31bfdb6b.080fe4","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1260,"wires":[[]]},{"id":"c71c7d16.56e78","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":1320,"wires":[["d9a3705e.27b71"],["9406cb15.df8b98"]]},{"id":"d9a3705e.27b71","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1300,"wires":[[]]},{"id":"9406cb15.df8b98","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1340,"wires":[[]]},{"id":"8e5dcf88.6246a","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":760,"wires":[["39990c48.4a72a4"],["1e602554.2b1acb"]]},{"id":"39990c48.4a72a4","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":740,"wires":[[]]},{"id":"1e602554.2b1acb","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":780,"wires":[[]]},{"id":"ae29fd13.f365f","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":840,"wires":[["f3485686.106538"],["156bd890.ff4f37"]]},{"id":"f3485686.106538","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":820,"wires":[[]]},{"id":"156bd890.ff4f37","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":860,"wires":[[]]},{"id":"18148dfd.56cd62","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":920,"wires":[["393d5a69.4ad616"],["69815691.e7a1d8"]]},{"id":"393d5a69.4ad616","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":900,"wires":[[]]},{"id":"69815691.e7a1d8","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":940,"wires":[[]]},{"id":"c2bf3924.437bf8","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":1000,"wires":[["6becd782.39ee58"],["bc05546.1c1e4a8"]]},{"id":"6becd782.39ee58","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":980,"wires":[[]]},{"id":"bc05546.1c1e4a8","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1020,"wires":[[]]},{"id":"3d754ebb.768382","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":1080,"wires":[["5d83d0d7.101d2"],["7b8f3837.779d28"]]},{"id":"5d83d0d7.101d2","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1060,"wires":[[]]},{"id":"7b8f3837.779d28","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1100,"wires":[[]]},{"id":"7c6b64b5.52d32c","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":1160,"wires":[["a7692141.73933"],["3f5177df.0999c8"]]},{"id":"a7692141.73933","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1140,"wires":[[]]},{"id":"3f5177df.0999c8","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1180,"wires":[[]]},{"id":"aa354a61.8493e8","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":1240,"wires":[["c47146a2.65f1b8"],["620f7219.34841c"]]},{"id":"c47146a2.65f1b8","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1220,"wires":[[]]},{"id":"620f7219.34841c","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1260,"wires":[[]]},{"id":"ce5996d0.8188f8","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":1320,"wires":[["e97e8c8a.66fe2"],["e57a6b84.d54a78"]]},{"id":"e97e8c8a.66fe2","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1300,"wires":[[]]},{"id":"e57a6b84.d54a78","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1340,"wires":[[]]},{"id":"c606b384.59b9d","type":"ui_text","z":"cd50a717.709188","group":"f02d3ade.e70ac8","order":11,"width":2,"height":1,"name":"DO0","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":60,"wires":[]},{"id":"ea2e9a06.208598","type":"ui_text","z":"cd50a717.709188","group":"f02d3ade.e70ac8","order":27,"width":2,"height":1,"name":"DO2","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":220,"wires":[]},{"id":"5967a8f2.da6d78","type":"ui_text","z":"cd50a717.709188","group":"f02d3ade.e70ac8","order":17,"width":2,"height":1,"name":"DO3","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":300,"wires":[]},{"id":"b225edd7.b1072","type":"ui_text","z":"cd50a717.709188","group":"f02d3ade.e70ac8","order":14,"width":2,"height":1,"name":"DO4","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":380,"wires":[]},{"id":"8e6f8617.bd50b8","type":"ui_text","z":"cd50a717.709188","group":"f02d3ade.e70ac8","order":7,"width":2,"height":2,"name":"DO5","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":460,"wires":[]},{"id":"3e8bd30.5648a2e","type":"ui_button","z":"cd50a717.709188","name":"","group":"f02d3ade.e70ac8","order":6,"width":4,"height":2,"passthru":false,"label":"EMERGÊNCIA","tooltip":"","color":"white","bgcolor":"red","icon":"","payload":"{\"v\":false}","payloadType":"str","topic":"Advantech/74FE4846B81A/ctl/do6","x":100,"y":760,"wires":[["2b703fe.5bd31c"]]},{"id":"1968ca6c.712476","type":"ui_button","z":"cd50a717.709188","name":"","group":"f02d3ade.e70ac8","order":30,"width":6,"height":1,"passthru":false,"label":"Reset Emergência","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"v\":true}","payloadType":"str","topic":"Advantech/74FE4846B81A/ctl/do6","x":110,"y":800,"wires":[["2b703fe.5bd31c"]]},{"id":"2b2c249f.52088c","type":"ui_text","z":"cd50a717.709188","group":"f02d3ade.e70ac8","order":23,"width":2,"height":1,"name":"DO1","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":140,"wires":[]},{"id":"c53ca02d.f703d","type":"ui_switch","z":"cd50a717.709188","name":"DO1 - Motor Carburado","label":"Motor Carburado","tooltip":"","group":"f02d3ade.e70ac8","order":22,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"Advantech/74FE4846B81A/ctl/do1","style":"","onvalue":"{\"v\":true}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"v\":false}","offvalueType":"str","officon":"","offcolor":"","x":130,"y":600,"wires":[["43495c18.de2224"]]},{"id":"7d273564.7731ec","type":"ui_template","z":"cd50a717.709188","group":"f02d3ade.e70ac8","name":"Como Liga o motor","order":1,"width":9,"height":12,"format":"<!DOCTYPE html>\n\n<body>\n<meta charset=\"UTF-8\"/>\n<p><h1>Como dar partida no motor</h1></p>\nAntes de ligar o motor, abra a aplicação na tela abaixo que controla a rotação do motor (Dino.exe). Nela deve-se colocar a rotação em 1500 rpm e apertar Enter.\n<p><h2>Motor carburador:</h2></p>\n<p>1) Aperte o botão \"Reset Emergência\" para liberar a automação.</p>\n<p>2) Ligue as chaves \"Inversor\" e \"Sonda Lambda (Etas)\"</p>\n<p>3) Ligue a chave de Mega Squirt</p>\n<p>4) Ligue a chave de \"Motor carburado\" e depois que o motor estiver ligado, desligue-a novamente.</p>\n<p></p>\n<p><h2>Motor com injeção eletrônica:</h2></p>\n<p>1) Aperte o botão \"Reset Emergência\" para liberar a automação.</p>\n<p>2) Ligue as chaves \"Inversor\" e \"Sonda Lambda (Etas)\"</p>\n<p>3) Ligue a chave de \"Mega Squirt\"</p>\n<p>4) Ligue a chave da \"Bomba injetora\"</p>\n<p> </p>\n<p><h1>Após o motor estar ligado, seguir com os ensaios normalmente.</h1></p>\n</body>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":950,"y":580,"wires":[[]]},{"id":"53c2fef3.dccfb","type":"ui_template","z":"cd50a717.709188","group":"f02d3ade.e70ac8","name":"Como desliga o motor","order":2,"width":9,"height":7,"format":"<!DOCTYPE html>\n\n<body>\n<meta charset=\"UTF-8\"/>\n<p><h1>Como desligar o motor</h1></p>\n<p><h2>Motor carburador:</h2></p>\n<p>1) Ligue a chave de \"Motor carburado\"</p>\n<p>2) Desligue a chave Mega Squirt</p>\n<p>3) Desligue as chaves \"Inversor\" e \"Sonda Lambda (Etas)\"</p>\n<p>3) Desligue a chave de \"Motor Carburado\"</p>\n\n<p><h2>Motor com injeção eletrônica:</h2></p>\n<p>1) Desligue a chave \"Bomba Injetora\"</p>\n<p>2) Desligue a chave de \"Mega Squirt\"</p>\n<p>3) Desligue as chaves \"Inversor\" e \"Sonda Lambda (Etas)\"</p>\n</body>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":960,"y":620,"wires":[[]]},{"id":"e1f2387c.71d768","type":"ui_template","z":"cd50a717.709188","group":"f02d3ade.e70ac8","name":"Botões","order":3,"width":6,"height":2,"format":"<!DOCTYPE html>\n\n<body>\n<meta charset=\"UTF-8\"/>\n<p><h1>Botões ligar e desligar o motor</h1></p>\n</body>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":910,"y":700,"wires":[[]]},{"id":"6660b565.947f5c","type":"ui_template","z":"ce818009.142b7","d":true,"group":"","name":"Janela Wise Paas","order":29,"width":28,"height":12,"format":"<body>\n<iframe id=\"tree\" name=\"myiframe\" src=\"https://rmm.maua.br\" frameborder=\"0\" marginheight=\"0\" marginwidth=\"0\" width=\"100%\" height=\"100%\" scrolling=\"auto\"></iframe>\n</body>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":630,"y":1700,"wires":[[]]},{"id":"186876d7.f58e39","type":"ui_template","z":"cd50a717.709188","group":"f02d3ade.e70ac8","name":"","order":34,"width":28,"height":10,"format":"<body>\n<iframe id=\"tree\" name=\"myiframe\" src=\"http://rmm.maua.br:8080\" frameborder=\"0\" marginheight=\"0\" marginwidth=\"0\" width=\"100%\" height=\"100%\" scrolling=\"auto\"></iframe>\n</body>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":920,"y":660,"wires":[[]]},{"id":"28f0058f.8106ba","type":"mqtt out","z":"a029e9b8.9f4228","name":"","topic":"RoboMaua/62:4c:00:43:1c:85/Eixo4","qos":"0","retain":"false","broker":"287e2ee5.849902","x":940,"y":60,"wires":[]},{"id":"a7c30a7a.b63688","type":"mqtt out","z":"a029e9b8.9f4228","name":"","topic":"RoboMaua/62:4c:00:43:1c:85/Eixo3","qos":"0","retain":"false","broker":"287e2ee5.849902","x":380,"y":400,"wires":[]},{"id":"a48fa830.ecb298","type":"mqtt out","z":"a029e9b8.9f4228","name":"","topic":"RoboMaua/62:4c:00:43:1c:85/Eixo2","qos":"0","retain":"false","broker":"287e2ee5.849902","x":380,"y":260,"wires":[]},{"id":"4f6b2cf7.c9faf4","type":"mqtt out","z":"a029e9b8.9f4228","name":"","topic":"RoboMaua/62:4c:00:43:1c:85/Eixo1","qos":"0","retain":"false","broker":"287e2ee5.849902","x":360,"y":120,"wires":[]},{"id":"7123fc40.e37fd4","type":"ui_template","z":"ce818009.142b7","group":"e084274c.fc15a8","name":"Tela de recepção","order":1,"width":"20","height":"10","format":"<!DOCTYPE html>\n\n<body>\n<meta charset=\"UTF-8\"/>\n<p><h1>Bem vindo ao Weblab!</h1></p>\n<p></p>\n<p>Selecione no icone superior da esquerda qual atividade deseja acessar.</p>\n<p></p>\n<p></p>\n<p></p>\n<p></p>\n<p></p>\n<p></p>\n<p></p>\n<p></p>\n<p></p>\n<p></p>\n<p></p>\n<p></p>\n<p></p>\n<p></p>\n<p></p>\n<p></p>\n<p></p>\n<p></p>\n<p></p>\n<p></p>\n<p></p>\n<p></p>\n<p></p>\n<p></p>\n<p>Engenheira responsável: Loredana Bonora Cobianchi</p>\n<p>E-mail para contato: loredana.cobianchi@maua.br</p>\n</body>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":390,"y":40,"wires":[[]]},{"id":"db2b5dda.8597e","type":"ui_slider","z":"a029e9b8.9f4228","name":"Eixo 1","label":"Eixo 1","tooltip":"","group":"865468ee.44fff8","order":14,"width":9,"height":1,"passthru":true,"outs":"all","topic":"\"RoboMaua/62:4c:00:43:1c:85/Eixo1\"","min":"1","max":"180","step":1,"x":90,"y":80,"wires":[["612daf6c.c87ad","4f6b2cf7.c9faf4"]]},{"id":"612daf6c.c87ad","type":"ui_numeric","z":"a029e9b8.9f4228","name":"Eixo 1 num","label":"","tooltip":"","group":"865468ee.44fff8","order":15,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"\"RoboMaua/62:4c:00:43:1c:85/Eixo1\"","format":"{{value}}","min":"1","max":"180","step":1,"x":110,"y":160,"wires":[["db2b5dda.8597e","4f6b2cf7.c9faf4"]]},{"id":"fc3fa535.7245b8","type":"ui_slider","z":"a029e9b8.9f4228","name":"Eixo 2","label":"Eixo 2","tooltip":"","group":"865468ee.44fff8","order":19,"width":9,"height":1,"passthru":true,"outs":"all","topic":"\"RoboMaua/62:4c:00:43:1c:85/Eixo2\"","min":"1","max":"135","step":1,"x":90,"y":220,"wires":[["b335d665.9eafa8","a48fa830.ecb298"]]},{"id":"b335d665.9eafa8","type":"ui_numeric","z":"a029e9b8.9f4228","name":"Eixo 2num","label":"","tooltip":"","group":"865468ee.44fff8","order":20,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"\"RoboMaua/62:4c:00:43:1c:85/Eixo2\"","format":"{{value}}","min":"1","max":"135","step":1,"x":110,"y":300,"wires":[["fc3fa535.7245b8","a48fa830.ecb298"]]},{"id":"54bca038.192cf","type":"ui_slider","z":"a029e9b8.9f4228","name":"Eixo 3","label":"Eixo 3","tooltip":"","group":"865468ee.44fff8","order":24,"width":9,"height":1,"passthru":true,"outs":"all","topic":"\"RoboMaua/62:4c:00:43:1c:85/Eixo3\"","min":"1","max":"90","step":1,"x":90,"y":360,"wires":[["50c5b76f.48a018","a7c30a7a.b63688"]]},{"id":"50c5b76f.48a018","type":"ui_numeric","z":"a029e9b8.9f4228","name":"Eixo 3num","label":"","tooltip":"","group":"865468ee.44fff8","order":25,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"\"RoboMaua/62:4c:00:43:1c:85/Eixo3\"","format":"{{value}}","min":"1","max":"90","step":1,"x":110,"y":440,"wires":[["54bca038.192cf","a7c30a7a.b63688"]]},{"id":"f202b9ed.055678","type":"ui_slider","z":"a029e9b8.9f4228","name":"Garra","label":"Garra","tooltip":"","group":"865468ee.44fff8","order":30,"width":10,"height":1,"passthru":true,"outs":"all","topic":"\"RoboMaua/62:4c:00:43:1c:85/Eixo4\"","min":"1","max":"180","step":1,"x":670,"y":40,"wires":[["42df61c0.ed9cd","28f0058f.8106ba"]]},{"id":"42df61c0.ed9cd","type":"ui_numeric","z":"a029e9b8.9f4228","name":"Garra","label":"","tooltip":"","group":"865468ee.44fff8","order":31,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"\"RoboMaua/62:4c:00:43:1c:85/Eixo4\"","format":"{{value}}","min":"1","max":"180","step":1,"x":670,"y":120,"wires":[["f202b9ed.055678","28f0058f.8106ba"]]},{"id":"12cf96cb.029a39","type":"ui_text","z":"a029e9b8.9f4228","group":"865468ee.44fff8","order":11,"width":12,"height":1,"name":"JOINT","label":"","format":"Controle do robô por juntas","layout":"col-center","x":90,"y":20,"wires":[]},{"id":"d3a2ec44.08587","type":"ui_slider","z":"a029e9b8.9f4228","name":"Eixox","label":"Eixo x","tooltip":"","group":"865468ee.44fff8","order":17,"width":9,"height":1,"passthru":true,"outs":"all","topic":"","min":"0","max":"520","step":1,"x":430,"y":580,"wires":[["b72898a6.bb8af8","d546fbd8.2273c8"]]},{"id":"b72898a6.bb8af8","type":"ui_numeric","z":"a029e9b8.9f4228","name":"Eixo xnum","label":"","tooltip":"","group":"865468ee.44fff8","order":18,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"0","max":"520","step":1,"x":450,"y":660,"wires":[["d3a2ec44.08587"]]},{"id":"3dd592b3.81d2de","type":"ui_slider","z":"a029e9b8.9f4228","name":"EixoY","label":"Eixo Y","tooltip":"","group":"865468ee.44fff8","order":22,"width":9,"height":1,"passthru":true,"outs":"all","topic":"","min":"0","max":"100","step":1,"x":430,"y":700,"wires":[["49e8a986.e1e518","40f8bc67.386744"]]},{"id":"49e8a986.e1e518","type":"ui_numeric","z":"a029e9b8.9f4228","name":"Eixo Ynum","label":"","tooltip":"","group":"865468ee.44fff8","order":23,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"\"RoboMaua/62:4c:00:43:1c:85/Eixo2\"","format":"{{value}}","min":"0","max":"100","step":1,"x":450,"y":780,"wires":[["3dd592b3.81d2de"]]},{"id":"13d768d0.c0fc77","type":"ui_slider","z":"a029e9b8.9f4228","name":"EixoZ","label":"Eixo Z","tooltip":"","group":"865468ee.44fff8","order":27,"width":9,"height":1,"passthru":true,"outs":"all","topic":"","min":"1","max":"200","step":1,"x":430,"y":820,"wires":[["2a665ae1.890706","31a67c49.f99b84"]]},{"id":"2a665ae1.890706","type":"ui_numeric","z":"a029e9b8.9f4228","name":"Eixo Znum","label":"","tooltip":"","group":"865468ee.44fff8","order":28,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"200","step":1,"x":450,"y":900,"wires":[["13d768d0.c0fc77"]]},{"id":"dfb9b6e2.f71d58","type":"ui_text","z":"a029e9b8.9f4228","group":"865468ee.44fff8","order":13,"width":12,"height":1,"name":"XYZ","label":"","format":"Controle do robô por coordenada XYZ","layout":"col-center","x":90,"y":500,"wires":[]},{"id":"8adb2e86.03eab","type":"ui_text_input","z":"8193c2b9.bb051","name":"Nome In","label":"Nome","tooltip":"Digite seu nome","group":"ca08b514.93ec08","order":1,"width":14,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"Nome","x":300,"y":120,"wires":[["2051ef84.105cc"]]},{"id":"606686f.8900878","type":"ui_text_input","z":"8193c2b9.bb051","name":"Empresa in","label":"Empresa","tooltip":"Onde você trabalha?","group":"ca08b514.93ec08","order":2,"width":14,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"Empresa","x":310,"y":160,"wires":[["2051ef84.105cc"]]},{"id":"e294d06.da71b3","type":"ui_text_input","z":"8193c2b9.bb051","name":"Mail in","label":"E-mail","tooltip":"Digite seu e-mail","group":"ca08b514.93ec08","order":4,"width":14,"height":1,"passthru":false,"mode":"email","delay":300,"topic":"Mail","x":290,"y":240,"wires":[["2051ef84.105cc"]]},{"id":"f5e819fb.9888e8","type":"ui_text_input","z":"8193c2b9.bb051","name":"Frase in","label":"Frase","tooltip":"Digite uma frase","group":"ca08b514.93ec08","order":3,"width":14,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"Frase","x":300,"y":200,"wires":[["2051ef84.105cc"]]},{"id":"1ac94217.61006e","type":"ui_dropdown","z":"8193c2b9.bb051","name":"Produto","label":"Produto","tooltip":"Selecione seu produto","place":"Selecione seu produto","group":"ca08b514.93ec08","order":17,"width":14,"height":1,"passthru":false,"options":[{"label":"Caixa de ferramentas","value":true,"type":"bool"},{"label":"Porta Celular","value":false,"type":"bool"}],"payload":"","topic":"Produto","x":300,"y":280,"wires":[["2051ef84.105cc"]]},{"id":"c547a990.c661e8","type":"ui_button","z":"8193c2b9.bb051","name":"","group":"ca08b514.93ec08","order":18,"width":7,"height":1,"passthru":false,"label":"Enviar pedido","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":320,"wires":[["e35e220a.46001","58d98927.26ba08"]]},{"id":"b38a0ed0.9a155","type":"ui_button","z":"8193c2b9.bb051","name":"","group":"ca08b514.93ec08","order":19,"width":7,"height":1,"passthru":false,"label":"Cancelar pedido","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":80,"wires":[["58d98927.26ba08"]]},{"id":"58d98927.26ba08","type":"function","z":"8193c2b9.bb051","name":"","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":200,"wires":[["8adb2e86.03eab","606686f.8900878","f5e819fb.9888e8","e294d06.da71b3","1ac94217.61006e"]]},{"id":"f08458a7.1239b8","type":"ui_text_input","z":"8193c2b9.bb051","name":"ID do pedido","label":"ID do pedido","tooltip":"","group":"31417581.f0750a","order":1,"width":14,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"ID","x":250,"y":600,"wires":[["23c9cb7f.ee33b4"]]},{"id":"48bc74b7.ada72c","type":"ui_button","z":"8193c2b9.bb051","name":"Retirar o pedido","group":"31417581.f0750a","order":2,"width":14,"height":1,"passthru":false,"label":"Retirar o pedido","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":680,"wires":[["1e7223c3.3426bc","8b9f9673.f59d08"]]},{"id":"2051ef84.105cc","type":"join","z":"8193c2b9.bb051","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":220,"wires":[["4fbd9a16.096aa4","f035db25.e93b68"]]},{"id":"e35e220a.46001","type":"function","z":"8193c2b9.bb051","name":"","func":"msg.complete = true;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":320,"wires":[["2051ef84.105cc"]]},{"id":"1e7223c3.3426bc","type":"function","z":"8193c2b9.bb051","name":"","func":"msg.complete = true;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":680,"wires":[["23c9cb7f.ee33b4"]]},{"id":"4fbd9a16.096aa4","type":"debug","z":"8193c2b9.bb051","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":180,"wires":[]},{"id":"23c9cb7f.ee33b4","type":"join","z":"8193c2b9.bb051","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":470,"y":600,"wires":[["aeb44377.51b5e","336d9968.4b4156"]]},{"id":"aeb44377.51b5e","type":"debug","z":"8193c2b9.bb051","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":560,"wires":[]},{"id":"f035db25.e93b68","type":"mqtt out","z":"8193c2b9.bb051","name":"Envio de um pedido de fabricação","topic":"maua40/pedidos/in","qos":"0","retain":"false","broker":"287e2ee5.849902","x":760,"y":220,"wires":[]},{"id":"41e96a84.250884","type":"comment","z":"8193c2b9.bb051","name":"Entrada de pedido","info":"","x":110,"y":20,"wires":[]},{"id":"1dc3725e.279d8e","type":"comment","z":"8193c2b9.bb051","name":"retirada de pedido","info":"","x":110,"y":540,"wires":[]},{"id":"336d9968.4b4156","type":"mqtt out","z":"8193c2b9.bb051","name":"Envio de um pedido de retirada","topic":"maua40/pedidos/out","qos":"0","retain":"false","broker":"287e2ee5.849902","x":690,"y":600,"wires":[]},{"id":"33b58cf5.6ac644","type":"comment","z":"8193c2b9.bb051","name":"Produzindo:","info":"","x":90,"y":1000,"wires":[]},{"id":"8b9f9673.f59d08","type":"function","z":"8193c2b9.bb051","name":"","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":600,"wires":[["f08458a7.1239b8"]]},{"id":"8faf2bc3.989968","type":"mqtt in","z":"8193c2b9.bb051","name":"","topic":"maua40/fabricando/fila","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":120,"y":1060,"wires":[["5e89fc28.234a14"]]},{"id":"f5fe3020.0ec5b","type":"mqtt in","z":"8193c2b9.bb051","name":"","topic":"maua40/fabricando/metrologia","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":140,"y":1220,"wires":[["75b634b7.133ddc"]]},{"id":"18a1271c.718289","type":"mqtt in","z":"8193c2b9.bb051","name":"","topic":"maua40/fabricando/puncionamento","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":160,"y":1600,"wires":[["bc04331d.d457d"]]},{"id":"7dda92f9.f11c1c","type":"mqtt in","z":"8193c2b9.bb051","name":"","topic":"maua40/fabricando/laser","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":130,"y":1760,"wires":[["177ec8a.ddb9537"]]},{"id":"5e89fc28.234a14","type":"json","z":"8193c2b9.bb051","name":"","property":"payload","action":"","pretty":false,"x":360,"y":1060,"wires":[["efabe529.55caa8","149c3da7.a5f902","c2250422.53e728"]]},{"id":"efabe529.55caa8","type":"function","z":"8193c2b9.bb051","name":"Nome","func":"var m = msg.payload;\nmsg.payload = m.Nome;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1020,"wires":[["5278512e.ff599"]]},{"id":"149c3da7.a5f902","type":"function","z":"8193c2b9.bb051","name":"ID","func":"var m = msg.payload;\nmsg.payload = m.ID;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1060,"wires":[["b10515ec.1c84c8"]]},{"id":"c2250422.53e728","type":"function","z":"8193c2b9.bb051","name":"Frase","func":"var m = msg.payload;\nmsg.payload = m.Frase;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1100,"wires":[["18e9ea7f.6f9816"]]},{"id":"5278512e.ff599","type":"ui_text","z":"8193c2b9.bb051","group":"3b975cba.10f454","order":4,"width":5,"height":1,"name":"Nome Fila","label":"Nome","format":"{{msg.payload}}","layout":"col-center","x":870,"y":1020,"wires":[]},{"id":"b10515ec.1c84c8","type":"ui_text","z":"8193c2b9.bb051","group":"3b975cba.10f454","order":3,"width":2,"height":1,"name":"ID Fila","label":"ID","format":"{{msg.payload}}","layout":"col-center","x":850,"y":1060,"wires":[]},{"id":"18e9ea7f.6f9816","type":"ui_text","z":"8193c2b9.bb051","group":"3b975cba.10f454","order":5,"width":5,"height":1,"name":"Frase Fila","label":"Frase","format":"{{msg.payload}}","layout":"col-center","x":860,"y":1100,"wires":[]},{"id":"75b634b7.133ddc","type":"json","z":"8193c2b9.bb051","name":"","property":"payload","action":"","pretty":false,"x":370,"y":1220,"wires":[["63777e9d.89db6","ab82697a.dacde8","ee2ad24d.d1192"]]},{"id":"63777e9d.89db6","type":"function","z":"8193c2b9.bb051","name":"Nome","func":"var m = msg.payload;\nmsg.payload = m.Nome;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1180,"wires":[["88d64c3b.987b1"]]},{"id":"ab82697a.dacde8","type":"function","z":"8193c2b9.bb051","name":"ID","func":"var m = msg.payload;\nmsg.payload = m.ID;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1220,"wires":[["520a2344.0ecbcc"]]},{"id":"ee2ad24d.d1192","type":"function","z":"8193c2b9.bb051","name":"Frase","func":"var m = msg.payload;\nmsg.payload = m.Frase;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1260,"wires":[["91f94496.b893d8"]]},{"id":"88d64c3b.987b1","type":"ui_text","z":"8193c2b9.bb051","group":"3b975cba.10f454","order":10,"width":5,"height":1,"name":"Nome Hex","label":"Nome","format":"{{msg.payload}}","layout":"col-center","x":861,"y":1180,"wires":[]},{"id":"520a2344.0ecbcc","type":"ui_text","z":"8193c2b9.bb051","group":"3b975cba.10f454","order":9,"width":2,"height":1,"name":"ID Hex","label":"ID","format":"{{msg.payload}}","layout":"col-center","x":841,"y":1220,"wires":[]},{"id":"91f94496.b893d8","type":"ui_text","z":"8193c2b9.bb051","group":"3b975cba.10f454","order":11,"width":5,"height":1,"name":"Frase Hex","label":"Frase","format":"{{msg.payload}}","layout":"col-center","x":861,"y":1260,"wires":[]},{"id":"bc04331d.d457d","type":"json","z":"8193c2b9.bb051","name":"","property":"payload","action":"","pretty":false,"x":370,"y":1600,"wires":[["9a3882e.1c44f8","c35e72ee.2fc7a","5fbb152b.2d5a2c"]]},{"id":"9a3882e.1c44f8","type":"function","z":"8193c2b9.bb051","name":"Nome","func":"var m = msg.payload;\nmsg.payload = m.Nome;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1560,"wires":[["478e6528.19b1cc"]]},{"id":"c35e72ee.2fc7a","type":"function","z":"8193c2b9.bb051","name":"ID","func":"var m = msg.payload;\nmsg.payload = m.ID;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1600,"wires":[["6a69c14d.5a86e"]]},{"id":"5fbb152b.2d5a2c","type":"function","z":"8193c2b9.bb051","name":"Frase","func":"var m = msg.payload;\nmsg.payload = m.Frase;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1640,"wires":[["372325e.278f7da"]]},{"id":"478e6528.19b1cc","type":"ui_text","z":"8193c2b9.bb051","group":"3b975cba.10f454","order":22,"width":5,"height":1,"name":"Nome punc","label":"Nome","format":"{{msg.payload}}","layout":"col-center","x":861,"y":1560,"wires":[]},{"id":"6a69c14d.5a86e","type":"ui_text","z":"8193c2b9.bb051","group":"3b975cba.10f454","order":21,"width":2,"height":1,"name":"ID punc","label":"ID","format":"{{msg.payload}}","layout":"col-center","x":851,"y":1600,"wires":[]},{"id":"372325e.278f7da","type":"ui_text","z":"8193c2b9.bb051","group":"3b975cba.10f454","order":23,"width":5,"height":1,"name":"Frase punc","label":"Frase","format":"{{msg.payload}}","layout":"col-center","x":861,"y":1640,"wires":[]},{"id":"177ec8a.ddb9537","type":"json","z":"8193c2b9.bb051","name":"","property":"payload","action":"","pretty":false,"x":370,"y":1760,"wires":[["8648e53b.2fd078","73c041ea.8a578","3dc59391.5cd59c"]]},{"id":"8648e53b.2fd078","type":"function","z":"8193c2b9.bb051","name":"Nome","func":"var m = msg.payload;\nmsg.payload = m.Nome;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1720,"wires":[["92ed8f81.0be4a"]]},{"id":"73c041ea.8a578","type":"function","z":"8193c2b9.bb051","name":"ID","func":"var m = msg.payload;\nmsg.payload = m.ID;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1760,"wires":[["f5b6d410.833b88"]]},{"id":"3dc59391.5cd59c","type":"function","z":"8193c2b9.bb051","name":"Frase","func":"var m = msg.payload;\nmsg.payload = m.Frase;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1800,"wires":[["346322a7.3c321e"]]},{"id":"92ed8f81.0be4a","type":"ui_text","z":"8193c2b9.bb051","group":"3b975cba.10f454","order":28,"width":5,"height":1,"name":"Nome Laser","label":"Nome","format":"{{msg.payload}}","layout":"col-center","x":861,"y":1720,"wires":[]},{"id":"f5b6d410.833b88","type":"ui_text","z":"8193c2b9.bb051","group":"3b975cba.10f454","order":27,"width":2,"height":1,"name":"ID Laser","label":"ID","format":"{{msg.payload}}","layout":"col-center","x":851,"y":1760,"wires":[]},{"id":"346322a7.3c321e","type":"ui_text","z":"8193c2b9.bb051","group":"3b975cba.10f454","order":29,"width":5,"height":1,"name":"Frase Laser","label":"Frase","format":"{{msg.payload}}","layout":"col-center","x":861,"y":1800,"wires":[]},{"id":"74f9f5aa.cca7ac","type":"ui_text","z":"8193c2b9.bb051","group":"3b975cba.10f454","order":1,"width":12,"height":1,"name":"A produzir","label":"","format":"Próximo produto à ser produzido","layout":"row-left","x":1060,"y":1200,"wires":[]},{"id":"3bdcfcdd.001a04","type":"ui_text","z":"8193c2b9.bb051","group":"3b975cba.10f454","order":7,"width":12,"height":1,"name":"Hexagon","label":"","format":"Porta celular sendo medido","layout":"row-left","x":1059,"y":1240,"wires":[]},{"id":"66c8b42d.e52dec","type":"ui_text","z":"8193c2b9.bb051","group":"3b975cba.10f454","order":19,"width":12,"height":1,"name":"Puncionando","label":"","format":"Porta celular sendo personalizado","layout":"row-left","x":1069,"y":1280,"wires":[]},{"id":"438e73fd.f0690c","type":"ui_text","z":"8193c2b9.bb051","group":"3b975cba.10f454","order":25,"width":12,"height":1,"name":"Laser","label":"","format":"Caixa de ferramentas sendo personalizada","layout":"row-left","x":1049,"y":1320,"wires":[]},{"id":"994c6020.00f14","type":"mqtt in","z":"8193c2b9.bb051","name":"","topic":"maua40/pedidos/confirm","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":130,"y":420,"wires":[["e64e4010.791e8","47cf0394.a2fafc"]]},{"id":"e64e4010.791e8","type":"ui_text","z":"8193c2b9.bb051","group":"ca08b514.93ec08","order":20,"width":14,"height":1,"name":"ID","label":"","format":"{{msg.payload}}","layout":"col-center","x":710,"y":420,"wires":[]},{"id":"400cfdf9.f8f984","type":"function","z":"8193c2b9.bb051","name":"","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":440,"wires":[["e64e4010.791e8"]]},{"id":"47cf0394.a2fafc","type":"hidden-ui-action","z":"8193c2b9.bb051","action":"Show","actionType":"str","write":"payload","writeType":"msg","group":"ca08b514.93ec08","order":10,"target":"83452a8f.acbac8","passthru":false,"name":"","x":320,"y":440,"wires":[["83452a8f.acbac8"]]},{"id":"83452a8f.acbac8","type":"ui_ui-button","z":"8193c2b9.bb051","action":"Hide","actionType":"str","name":"OK","group":"ca08b514.93ec08","order":21,"width":0,"height":0,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","x":450,"y":440,"wires":[["400cfdf9.f8f984","feacab25.216bb8"]]},{"id":"feacab25.216bb8","type":"hidden-ui-action","z":"8193c2b9.bb051","action":"Hide","actionType":"str","write":"payload","writeType":"msg","group":"ca08b514.93ec08","order":2,"target":"83452a8f.acbac8","passthru":false,"name":"","x":620,"y":500,"wires":[[]]},{"id":"a23a3230.58803","type":"hidden-ui-load","z":"8193c2b9.bb051","group":"ca08b514.93ec08","order":0,"name":"","x":420,"y":500,"wires":[["feacab25.216bb8","400cfdf9.f8f984"]]},{"id":"d639cab4.7694a8","type":"comment","z":"8193c2b9.bb051","name":"Cofirmação de entrada de pedido","info":"","x":150,"y":380,"wires":[]},{"id":"600086c6.839258","type":"comment","z":"8193c2b9.bb051","name":"Cofirmação de pedido de retirada","info":"","x":150,"y":740,"wires":[]},{"id":"ebec6435.ea1e48","type":"mqtt in","z":"8193c2b9.bb051","name":"","topic":"maua40/pedidos/outconfirm","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":140,"y":780,"wires":[["bac3d898.468d38","ac930d6.22e1df","c120dc9c.e6a07"]]},{"id":"c12eab41.6b1808","type":"ui_text","z":"8193c2b9.bb051","group":"31417581.f0750a","order":3,"width":14,"height":1,"name":"ID retirada","label":"","format":"{{msg.payload}}","layout":"col-center","x":890,"y":800,"wires":[]},{"id":"37eda03b.27069","type":"function","z":"8193c2b9.bb051","name":"","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":880,"wires":[["c12eab41.6b1808"]]},{"id":"bac3d898.468d38","type":"hidden-ui-action","z":"8193c2b9.bb051","action":"Show","actionType":"str","write":"payload","writeType":"msg","group":"31417581.f0750a","order":10,"target":"3f049165.165a5e","passthru":false,"name":"","x":420,"y":880,"wires":[["3f049165.165a5e"]]},{"id":"3f049165.165a5e","type":"ui_ui-button","z":"8193c2b9.bb051","action":"Hide","actionType":"str","name":"OK retirada","group":"31417581.f0750a","order":4,"width":14,"height":1,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","x":570,"y":880,"wires":[["37eda03b.27069","e1d49ac8.454f18"]]},{"id":"e1d49ac8.454f18","type":"hidden-ui-action","z":"8193c2b9.bb051","action":"Hide","actionType":"str","write":"payload","writeType":"msg","group":"31417581.f0750a","order":10,"target":"3f049165.165a5e","passthru":false,"name":"","x":760,"y":940,"wires":[[]]},{"id":"d9257610.110068","type":"hidden-ui-load","z":"8193c2b9.bb051","group":"31417581.f0750a","order":0,"name":"","x":560,"y":940,"wires":[["e1d49ac8.454f18","37eda03b.27069"]]},{"id":"ac930d6.22e1df","type":"switch","z":"8193c2b9.bb051","name":"Peça sendo retirada","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"\"true\"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":800,"wires":[["b05a206.b0ff4e"]]},{"id":"c120dc9c.e6a07","type":"switch","z":"8193c2b9.bb051","name":"Peça não está pronta","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"\"false\"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":840,"wires":[["43d12104.d9cad"]]},{"id":"b05a206.b0ff4e","type":"function","z":"8193c2b9.bb051","name":"","func":"msg.payload = \"Pedido recebido com sucesso.\" ;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":800,"wires":[["c12eab41.6b1808"]]},{"id":"43d12104.d9cad","type":"function","z":"8193c2b9.bb051","name":"","func":"msg.payload = \"O produto solicitado ainda não está pronto.\" ;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":840,"wires":[["c12eab41.6b1808"]]},{"id":"e6194eab.48c79","type":"function","z":"a029e9b8.9f4228","name":"Pos inicial X","func":"msg.payload = 260;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":580,"wires":[["d3a2ec44.08587"]]},{"id":"5fa51793.2d3e68","type":"hidden-ui-load","z":"a029e9b8.9f4228","group":"865468ee.44fff8","order":0,"name":"","x":80,"y":680,"wires":[["e6194eab.48c79","4e4aafd.b867d5","bc885c81.ab7b5","baeb2a03.ae1308"]]},{"id":"4e4aafd.b867d5","type":"function","z":"a029e9b8.9f4228","name":"Pos inicial Y","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":700,"wires":[["3dd592b3.81d2de"]]},{"id":"bc885c81.ab7b5","type":"function","z":"a029e9b8.9f4228","name":"Pos inicial Z","func":"msg.payload = 150;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":820,"wires":[["13d768d0.c0fc77"]]},{"id":"86577064.f67e4","type":"comment","z":"a029e9b8.9f4228","name":"Equação de XYZ para Joint","info":"L = 91.44;\nB1 = 160;\nB2 = 148;\nG = 99.19;\ngy = 110;\ngx = 230;\ngz = 80;\n\nmsg.f1 = B1*sx-B2*sy+L-gy\nmsg.f2 = (B1*cx+B2*cy+G)*sz-gx\nmsg.f3 = (B1*cx+B2*cy+G)*cz-gz","x":1400,"y":360,"wires":[]},{"id":"54ec5842.92bc48","type":"comment","z":"a029e9b8.9f4228","name":"f1 = B1*sx-B2*sy+L-gy","info":"L = 91.44;\nB1 = 160;\nB2 = 148;\nG = 99.19;\ngy = 110;\ngx = 230;\ngz = 80;\n\nmsg.f1 = B1*sx-B2*sy+L-gy\nmsg.f2 = (B1*cx+B2*cy+G)*sz-gx\nmsg.f3 = (B1*cx+B2*cy+G)*cz-gz","x":1380,"y":400,"wires":[]},{"id":"8273d4af.99c3a8","type":"comment","z":"a029e9b8.9f4228","name":"f2 = (B1*cx+B2*cy+G)*sz-gx","info":"L = 91.44;\nB1 = 160;\nB2 = 148;\nG = 99.19;\ngy = 110;\ngx = 230;\ngz = 80;\n\nmsg.f1 = B1*sx-B2*sy+L-gy\nmsg.f2 = (B1*cx+B2*cy+G)*sz-gx\nmsg.f3 = (B1*cx+B2*cy+G)*cz-gz","x":1400,"y":440,"wires":[]},{"id":"a45032e5.fb5a9","type":"comment","z":"a029e9b8.9f4228","name":"f3 = (B1*cx+B2*cy+G)*cz-gz","info":"L = 91.44;\nB1 = 160;\nB2 = 148;\nG = 99.19;\ngy = 110;\ngx = 230;\ngz = 80;\n\nmsg.f1 = B1*sx-B2*sy+L-gy\nmsg.f2 = (B1*cx+B2*cy+G)*sz-gx\nmsg.f3 = (B1*cx+B2*cy+G)*cz-gz","x":1400,"y":480,"wires":[]},{"id":"d546fbd8.2273c8","type":"mqtt out","z":"a029e9b8.9f4228","name":"","topic":"RoboMaua/62:4c:00:43:1c:85/EixoX","qos":"0","retain":"false","broker":"287e2ee5.849902","x":690,"y":580,"wires":[]},{"id":"40f8bc67.386744","type":"mqtt out","z":"a029e9b8.9f4228","name":"","topic":"RoboMaua/62:4c:00:43:1c:85/EixoY","qos":"0","retain":"false","broker":"287e2ee5.849902","x":690,"y":700,"wires":[]},{"id":"31a67c49.f99b84","type":"mqtt out","z":"a029e9b8.9f4228","name":"","topic":"RoboMaua/62:4c:00:43:1c:85/EixoZ","qos":"0","retain":"false","broker":"287e2ee5.849902","x":680,"y":820,"wires":[]},{"id":"499e29a4.939968","type":"ui_switch","z":"a029e9b8.9f4228","name":"","label":"","tooltip":"","group":"865468ee.44fff8","order":7,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"RoboMaua/62:4c:00:43:1c:85/XYZ","style":"","onvalue":"S","onvalueType":"str","onicon":"fa-toggle-on","oncolor":"Green","offvalue":"N","offvalueType":"str","officon":"fa-toggle-off","offcolor":"Grey","x":430,"y":540,"wires":[["3b25b64b.b755fa"]]},{"id":"3b25b64b.b755fa","type":"mqtt out","z":"a029e9b8.9f4228","name":"","topic":"RoboMaua/62:4c:00:43:1c:85/XYZ","qos":"0","retain":"false","broker":"287e2ee5.849902","x":680,"y":540,"wires":[]},{"id":"baeb2a03.ae1308","type":"function","z":"a029e9b8.9f4228","name":"Inic XYZ","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":540,"wires":[["499e29a4.939968"]]},{"id":"ffb0048c.7f3dc8","type":"ui_text","z":"a029e9b8.9f4228","group":"865468ee.44fff8","order":6,"width":3,"height":1,"name":"Juntas","label":"","format":"Movimentação por juntas","layout":"row-left","x":770,"y":440,"wires":[]},{"id":"ac6f030.2ab75","type":"ui_text","z":"a029e9b8.9f4228","group":"865468ee.44fff8","order":8,"width":3,"height":1,"name":"XYZ","label":"","format":"Movimentação em XYZ","layout":"row-left","x":770,"y":480,"wires":[]},{"id":"81e90ae9.78a318","type":"ui_text","z":"a029e9b8.9f4228","group":"865468ee.44fff8","order":3,"width":9,"height":1,"name":"Movimentação","label":"","format":"Selecione o modo de movimentação:","layout":"col-center","x":798,"y":401,"wires":[]},{"id":"46bfd0dd.ede6e","type":"ui_template","z":"f0cf2a5a.006fc8","group":"1fa325bf.81743a","name":"Camera da Bancada","order":1,"width":"17","height":"13","format":"<!DOCTYPE html>\n\n<style>\n#Controle_e_Nivel_de_Agua_Camera {\n    background-image: url(\"https://mediaserver.maua.br:7070/weblab.mjpg\");\n    background-position: center;\n    background-repeat: no-repeat;\n    background-size: cover;\n    width: 56.9rem;\n    height: 44rem;\n    }\n        body.nr-dashboard-theme md-content md-card {\n        background: transparent;\n    }\n</style>\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":120,"y":100,"wires":[[]]},{"id":"da2ebcd8.e20c2","type":"mqtt in","z":"f0cf2a5a.006fc8","name":"Volume do tanque 1 (%)","topic":"TanqueDeAgua/Bancada1/Tanque1","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":120,"y":460,"wires":[["99c1dfcf.ed2dd"]]},{"id":"b69a530.e5a4fb","type":"mqtt in","z":"f0cf2a5a.006fc8","name":"Volume do tanque 2 (%)","topic":"TanqueDeAgua/Bancada1/Tanque2","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":120,"y":540,"wires":[["b45be33a.fc2ee"]]},{"id":"fda38a59.cc5288","type":"hidden-ui-load","z":"f0cf2a5a.006fc8","group":"bc58c434.d6dfa8","order":0,"name":"","x":80,"y":200,"wires":[["19e79c1e.c0f504"]]},{"id":"e7e8d222.5d234","type":"ui_gauge","z":"f0cf2a5a.006fc8","name":"Volume do Tanque 1 (%)","group":"bc58c434.d6dfa8","order":5,"width":4,"height":4,"gtype":"wave","title":"Volume do tanque 1","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":460,"wires":[]},{"id":"f0e22bd5.621b38","type":"ui_gauge","z":"f0cf2a5a.006fc8","name":"Volume do Tanque 2 (%)","group":"bc58c434.d6dfa8","order":12,"width":4,"height":4,"gtype":"wave","title":"Volume do tanque 2","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":540,"wires":[]},{"id":"19e79c1e.c0f504","type":"trigger","z":"f0cf2a5a.006fc8","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":260,"y":200,"wires":[["c935f3a1.f1caa","7b5fda55.6dfcd4","cec0fa0e.9c82e8","e6919c23.63c6d"]]},{"id":"7c5d732b.35034c","type":"comment","z":"f0cf2a5a.006fc8","name":"Exibindo a quantidade de água em cada tanque","info":"","x":200,"y":160,"wires":[]},{"id":"154d50e2.d9cccf","type":"comment","z":"f0cf2a5a.006fc8","name":"Exibindo as câmeras","info":"","x":110,"y":40,"wires":[]},{"id":"bdf211aa.061bc","type":"ui_slider","z":"f0cf2a5a.006fc8","name":"","label":"Velocidade do motor 1","tooltip":"Controla a velocidade do motor 1","group":"bc58c434.d6dfa8","order":23,"width":7,"height":1,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":"0,5","x":240,"y":860,"wires":[["ed672074.b1a3d"]]},{"id":"c873d2c1.d11c2","type":"ui_slider","z":"f0cf2a5a.006fc8","name":"","label":"Velocidade do motor 2","tooltip":"Controla a velocidade do motor 2","group":"bc58c434.d6dfa8","order":24,"width":7,"height":1,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":"0,5","x":240,"y":900,"wires":[["70d8f5d9.86830c"]]},{"id":"4832e47c.1e08dc","type":"mqtt out","z":"f0cf2a5a.006fc8","name":"","topic":"TanqueDeAgua/Bancada1/Inversor1","qos":"0","retain":"false","broker":"287e2ee5.849902","x":650,"y":860,"wires":[]},{"id":"8695920e.23337","type":"mqtt out","z":"f0cf2a5a.006fc8","name":"","topic":"TanqueDeAgua/Bancada1/Inversor2","qos":"0","retain":"false","broker":"287e2ee5.849902","x":650,"y":900,"wires":[]},{"id":"42531b1a.a5c114","type":"ui_led","z":"f0cf2a5a.006fc8","group":"bc58c434.d6dfa8","order":6,"width":2,"height":1,"label":"Tanque 1 - Max","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"1","valueType":"str"},{"color":"grey","value":"0","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Sensor 1","x":400,"y":600,"wires":[]},{"id":"7ee8ff74.dd3f2","type":"mqtt in","z":"f0cf2a5a.006fc8","name":"","topic":"TanqueDeAgua/Bancada1/Sensor1","qos":"0","datatype":"utf8","broker":"287e2ee5.849902","x":160,"y":600,"wires":[["42531b1a.a5c114"]]},{"id":"251e7034.25f5c","type":"mqtt in","z":"f0cf2a5a.006fc8","name":"","topic":"TanqueDeAgua/Bancada1/Sensor2","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":160,"y":640,"wires":[["bab2ffb6.1cf2b"]]},{"id":"a5dfdffc.ad1ab","type":"mqtt in","z":"f0cf2a5a.006fc8","name":"","topic":"TanqueDeAgua/Bancada1/Sensor3","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":160,"y":680,"wires":[["56660053.4d9fb"]]},{"id":"c586c28a.c8d35","type":"mqtt in","z":"f0cf2a5a.006fc8","name":"","topic":"TanqueDeAgua/Bancada1/Sensor4","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":160,"y":720,"wires":[["33a23fbf.b9ca"]]},{"id":"bab2ffb6.1cf2b","type":"ui_led","z":"f0cf2a5a.006fc8","group":"bc58c434.d6dfa8","order":9,"width":2,"height":1,"label":"Tanque 1 - Mín","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"0","valueType":"str"},{"color":"grey","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Sensor 2","x":400,"y":640,"wires":[]},{"id":"56660053.4d9fb","type":"ui_led","z":"f0cf2a5a.006fc8","group":"bc58c434.d6dfa8","order":13,"width":2,"height":1,"label":"Tanque 2 - Max","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"1","valueType":"str"},{"color":"grey","value":"0","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Sensor 3","x":400,"y":680,"wires":[]},{"id":"33a23fbf.b9ca","type":"ui_led","z":"f0cf2a5a.006fc8","group":"bc58c434.d6dfa8","order":16,"width":2,"height":1,"label":"Tanque 2 - Mín","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"0","valueType":"str"},{"color":"grey","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Sensor 4","x":400,"y":720,"wires":[]},{"id":"341c7ea4.7ccac2","type":"mqtt out","z":"f0cf2a5a.006fc8","name":"","topic":"TanqueDeAgua/Bancada1/Start","qos":"0","retain":"false","broker":"287e2ee5.849902","x":430,"y":760,"wires":[]},{"id":"a6ecfb42.fe8618","type":"ui_switch","z":"f0cf2a5a.006fc8","name":"","label":"Modo automático","tooltip":"Switch ligado, modo manual selecionado","group":"bc58c434.d6dfa8","order":3,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-power-off","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"fa-power-off","offcolor":"red","x":250,"y":800,"wires":[["71c435c6.f82eac"]]},{"id":"71c435c6.f82eac","type":"mqtt out","z":"f0cf2a5a.006fc8","name":"","topic":"TanqueDeAgua/Bancada1/Automatico","qos":"0","retain":"false","broker":"287e2ee5.849902","x":510,"y":800,"wires":[]},{"id":"ed672074.b1a3d","type":"range","z":"f0cf2a5a.006fc8","minin":"0","maxin":"10","minout":"0","maxout":"32000","action":"scale","round":false,"property":"payload","name":"","x":420,"y":860,"wires":[["4832e47c.1e08dc"]]},{"id":"70d8f5d9.86830c","type":"range","z":"f0cf2a5a.006fc8","minin":"0","maxin":"10","minout":"0","maxout":"32000","action":"scale","round":false,"property":"payload","name":"","x":420,"y":900,"wires":[["8695920e.23337"]]},{"id":"39c07549.c61bca","type":"ui_led","z":"f0cf2a5a.006fc8","group":"bc58c434.d6dfa8","order":19,"width":3,"height":1,"label":"Motor 1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"1","valueType":"num"},{"color":"grey","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"name":"motor1","x":620,"y":280,"wires":[]},{"id":"421c6e16.c7779","type":"ui_led","z":"f0cf2a5a.006fc8","group":"bc58c434.d6dfa8","order":21,"width":3,"height":1,"label":"Motor 2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"1","valueType":"num"},{"color":"grey","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"name":"motor2","x":620,"y":360,"wires":[]},{"id":"d76a6759.951988","type":"mqtt in","z":"f0cf2a5a.006fc8","name":"","topic":"TanqueDeAgua/Bancada1/FBMotor1","qos":"0","datatype":"utf8","broker":"287e2ee5.849902","x":160,"y":280,"wires":[["d49ccb9d.2f8dc8"]]},{"id":"cd74b4b0.387a28","type":"mqtt in","z":"f0cf2a5a.006fc8","name":"","topic":"TanqueDeAgua/Bancada1/FBMotor2","qos":"0","datatype":"utf8","broker":"287e2ee5.849902","x":160,"y":360,"wires":[["eb184493.269348"]]},{"id":"d49ccb9d.2f8dc8","type":"switch","z":"f0cf2a5a.006fc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":280,"wires":[["c935f3a1.f1caa"],["855ceb32.665ee8"]]},{"id":"c935f3a1.f1caa","type":"function","z":"f0cf2a5a.006fc8","name":"","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":260,"wires":[["39c07549.c61bca"]]},{"id":"855ceb32.665ee8","type":"function","z":"f0cf2a5a.006fc8","name":"","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["39c07549.c61bca"]]},{"id":"eb184493.269348","type":"switch","z":"f0cf2a5a.006fc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":360,"wires":[["7b5fda55.6dfcd4"],["d8506890.572c68"]]},{"id":"7b5fda55.6dfcd4","type":"function","z":"f0cf2a5a.006fc8","name":"","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":340,"wires":[["421c6e16.c7779"]]},{"id":"d8506890.572c68","type":"function","z":"f0cf2a5a.006fc8","name":"","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["421c6e16.c7779"]]},{"id":"e6919c23.63c6d","type":"function","z":"f0cf2a5a.006fc8","name":"","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":70,"y":880,"wires":[["bdf211aa.061bc","c873d2c1.d11c2","ef17087b.1720f8","ed172181.2d"]]},{"id":"cec0fa0e.9c82e8","type":"function","z":"f0cf2a5a.006fc8","name":"","func":"msg.payload=false;\nreturn msg;","outputs":1,"noerr":0,"x":70,"y":780,"wires":[["b0c26d31.757b9","a6ecfb42.fe8618"]]},{"id":"b0c26d31.757b9","type":"ui_switch","z":"f0cf2a5a.006fc8","name":"","label":"Iniciar","tooltip":"Clique aqui para iniciar o experimento","group":"bc58c434.d6dfa8","order":1,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-power-off","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"fa-power-off","offcolor":"red","x":210,"y":760,"wires":[["341c7ea4.7ccac2"]]},{"id":"99c1dfcf.ed2dd","type":"range","z":"f0cf2a5a.006fc8","minin":"1500","maxin":"600","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":300,"y":460,"wires":[["ef17087b.1720f8"]]},{"id":"b45be33a.fc2ee","type":"range","z":"f0cf2a5a.006fc8","minin":"1500","maxin":"600","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":300,"y":540,"wires":[["ed172181.2d"]]},{"id":"ed172181.2d","type":"switch","z":"f0cf2a5a.006fc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"str"},{"t":"gte","v":"0","vt":"str"},{"t":"gte","v":"100","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":540,"wires":[["2843b07f.de6b1"],["f0e22bd5.621b38"],["fad7cd47.3b6ef"]]},{"id":"fad7cd47.3b6ef","type":"function","z":"f0cf2a5a.006fc8","name":"","func":"msg.payload = 100;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":560,"wires":[["f0e22bd5.621b38"]]},{"id":"2843b07f.de6b1","type":"function","z":"f0cf2a5a.006fc8","name":"","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":520,"wires":[["f0e22bd5.621b38"]]},{"id":"ef17087b.1720f8","type":"switch","z":"f0cf2a5a.006fc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"str"},{"t":"gte","v":"0","vt":"str"},{"t":"gte","v":"100","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":460,"wires":[["8d435494.a1daa8"],["e7e8d222.5d234"],["9084ede6.107b1"]]},{"id":"8d435494.a1daa8","type":"function","z":"f0cf2a5a.006fc8","name":"","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":440,"wires":[["e7e8d222.5d234"]]},{"id":"9084ede6.107b1","type":"function","z":"f0cf2a5a.006fc8","name":"","func":"msg.payload = 100;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":480,"wires":[["e7e8d222.5d234"]]},{"id":"570cc896.3ff178","type":"ui_text","z":"f0cf2a5a.006fc8","group":"bc58c434.d6dfa8","order":10,"width":1,"height":1,"name":"","label":"---","format":"","layout":"row-spread","x":950,"y":260,"wires":[]},{"id":"b4cf48e6.d94d38","type":"ui_text","z":"f0cf2a5a.006fc8","group":"bc58c434.d6dfa8","order":14,"width":1,"height":1,"name":"","label":"---","format":"","layout":"row-spread","x":950,"y":300,"wires":[]},{"id":"fa62c633.480c48","type":"ui_text","z":"f0cf2a5a.006fc8","group":"bc58c434.d6dfa8","order":7,"width":1,"height":1,"name":"","label":"---","format":"","layout":"row-spread","x":948,"y":343.22222900390625,"wires":[]},{"id":"a6be27d0.805ea8","type":"ui_text","z":"f0cf2a5a.006fc8","group":"bc58c434.d6dfa8","order":17,"width":1,"height":1,"name":"","label":"---","format":"","layout":"row-spread","x":950,"y":380,"wires":[]},{"id":"96b65b95.3e7208","type":"ui_text","z":"f0cf2a5a.006fc8","group":"bc58c434.d6dfa8","order":4,"width":3,"height":1,"name":"","label":"Sensores de nível dos tanques:","format":"","layout":"row-spread","x":1070,"y":520,"wires":[]},{"id":"38ae6c12.136274","type":"ui_text","z":"f0cf2a5a.006fc8","group":"bc58c434.d6dfa8","order":18,"width":7,"height":1,"name":"","label":"Estado dos motores","format":"","layout":"row-spread","x":1040,"y":560,"wires":[]},{"id":"febd10a1.4c233","type":"ui_text","z":"f0cf2a5a.006fc8","group":"bc58c434.d6dfa8","order":22,"width":7,"height":1,"name":"","label":"Controle dos motores no modo manual","format":"","layout":"row-spread","x":1090,"y":600,"wires":[]},{"id":"5cc2509e.41b2b","type":"ui_button","z":"f0cf2a5a.006fc8","name":"","group":"1fa325bf.81743a","order":16,"width":"17","height":1,"passthru":false,"label":"Câmera da bancada","tooltip":"","color":"","bgcolor":"#004686","icon":"","payload":"{\"SERVICE_MASTER\":\"set_new_video_feed\",\"cam_ip\":\"mediaserver.maua.br\",\"cam_port\":8090,\"cam_query\":\"bancada-handson.mjpg\"}","payloadType":"str","topic":"dv_app_GNV9RCjP/tx","x":340,"y":100,"wires":[["a01d2560.b99328"]]},{"id":"a01d2560.b99328","type":"mqtt out","z":"f0cf2a5a.006fc8","name":"","topic":"dv_app_GNV9RCjQ/tx","qos":"0","retain":"false","broker":"280b02c5.f7734e","x":560,"y":100,"wires":[]},{"id":"ae577a78.76c468","type":"comment","z":"f0cf2a5a.006fc8","name":"Html Style","info":"","x":860,"y":80,"wires":[]},{"id":"91c881d.9c1138","type":"ui_template","z":"f0cf2a5a.006fc8","group":"bc58c434.d6dfa8","name":"background bancada de nivel e vazao","order":0,"width":0,"height":0,"format":" <style> \n  body {\n    background-image: url(\"https://weblab.maua.br/node/http-static-files/pictures/sweat_water.jpeg\");\n    background-position: center;\n    background-repeat: no-repeat;\n    background-size: cover;\n}\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":970,"y":160,"wires":[[]]},{"id":"f7ecfa5a.d98e38","type":"ui_template","z":"f0cf2a5a.006fc8","group":"bc58c434.d6dfa8","name":"Bancada Background","order":5,"width":"7","height":"7","format":"<style>\n#Controle_e_Nivel_de_Agua_Bancada {\n    background-image: url(\"https://weblab.maua.br/node/http-static-files/pictures/controlpanel_wallpaper.jpg\");\n    background-position: center;\n    background-repeat: no-repeat;\n    background-size: cover;\n    }\n        body.nr-dashboard-theme md-content md-card {\n        background: transparent;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":1060,"y":120,"wires":[[]]},{"id":"c737b57f.9809e8","type":"ui_button","z":"9252a1f1.69","name":"","group":"2f4f4129.81b96e","order":1,"width":5,"height":1,"passthru":false,"label":"Iniciar","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"str","topic":"","x":410,"y":40,"wires":[["543fb194.0b169"]]},{"id":"5d3ffcc1.c7a9b4","type":"ui_button","z":"9252a1f1.69","name":"","group":"2f4f4129.81b96e","order":2,"width":5,"height":1,"passthru":false,"label":"Parar","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"true","payloadType":"str","topic":"","x":410,"y":80,"wires":[["185cde61.72e4b2"]]},{"id":"650629f6.882848","type":"ui_text","z":"9252a1f1.69","group":"e83bbad3.38ac78","order":2,"width":5,"height":1,"name":"","label":"Consumo robô Mitsubishi [kW/h]","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":120,"wires":[]},{"id":"bdfa316d.7d4d8","type":"ui_text","z":"9252a1f1.69","group":"e83bbad3.38ac78","order":3,"width":5,"height":1,"name":"","label":"Consumo robô Fanuc [kW/h]","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":160,"wires":[]},{"id":"965f82e1.c8ba8","type":"mqtt in","z":"9252a1f1.69","name":"","topic":"TCCEnergia/ConsumoPré/robo1","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":330,"y":120,"wires":[["650629f6.882848"]]},{"id":"f58a1f7e.02da3","type":"mqtt in","z":"9252a1f1.69","name":"","topic":"TCCEnergia/ConsumoPré/robo2","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":330,"y":160,"wires":[["bdfa316d.7d4d8"]]},{"id":"560daa9e.7daf24","type":"mqtt in","z":"9252a1f1.69","name":"","topic":"Weblab/TCC/TDB1/Potencia1","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":340,"y":200,"wires":[["65001323.b9f8bc"]]},{"id":"991106b3.713ef8","type":"mqtt in","z":"9252a1f1.69","name":"","topic":"Weblab/TCC/TDB2/Potencia2","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":340,"y":240,"wires":[["73717911.31c0d8"]]},{"id":"4e34ead8.650454","type":"mqtt in","z":"9252a1f1.69","name":"","topic":"Weblab/TCC/TDB1/Fator1","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":350,"y":280,"wires":[["e8dabc9a.a9dd6"]]},{"id":"9b7983ca.7e768","type":"mqtt in","z":"9252a1f1.69","name":"","topic":"Weblab/TCC/TDB2/Fator2","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":350,"y":320,"wires":[["22602fd0.fccf6"]]},{"id":"543fb194.0b169","type":"mqtt out","z":"9252a1f1.69","name":"","topic":"TCCEnergia/Planta/Iniciar","qos":"0","retain":"false","broker":"287e2ee5.849902","x":610,"y":40,"wires":[]},{"id":"185cde61.72e4b2","type":"mqtt out","z":"9252a1f1.69","name":"","topic":"TCCEnergia/Planta/Parar","qos":"0","retain":"false","broker":"287e2ee5.849902","x":610,"y":80,"wires":[]},{"id":"ec9e379c.a473b8","type":"ui_led","z":"9252a1f1.69","group":"32f33834.612888","order":2,"width":5,"height":1,"label":"Emergência","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Emergência","x":570,"y":400,"wires":[]},{"id":"9e3d5391.87778","type":"ui_led","z":"9252a1f1.69","group":"32f33834.612888","order":1,"width":5,"height":1,"label":"Sistema rodando","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Running","x":560,"y":360,"wires":[]},{"id":"900dd76f.3ba268","type":"mqtt in","z":"9252a1f1.69","name":"","topic":"TCCEnergia/Planta/Running","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":340,"y":360,"wires":[["9e3d5391.87778"]]},{"id":"1db69d6.84e3463","type":"mqtt in","z":"9252a1f1.69","name":"","topic":"TCCEnergia/Planta/Emergencia","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":330,"y":400,"wires":[["ec9e379c.a473b8"]]},{"id":"f3486040.8614b","type":"mqtt in","z":"9252a1f1.69","name":"","topic":"TCCEnergia/Grafico/contador","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":340,"y":480,"wires":[[]]},{"id":"7e85b8b8.d15fe8","type":"mqtt in","z":"9252a1f1.69","name":"","topic":"Weblab/TCC/TDB2/EnergiaTotal","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":330,"y":640,"wires":[["c8f18759.33d3b8","6fe39186.4766","b7d77bea.4d3ea8"]]},{"id":"c8f18759.33d3b8","type":"ui_text","z":"9252a1f1.69","group":"64ba9a91.f9c2a4","order":1,"width":5,"height":1,"name":"","label":"Energia consumida total","format":"{{msg.payload}}","layout":"col-center","x":610,"y":640,"wires":[]},{"id":"f9c797e8.e0f758","type":"mqtt in","z":"9252a1f1.69","name":"","topic":"TCCEnergia/Grafico/contadorp0","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":330,"y":520,"wires":[[]]},{"id":"1b7b49fc.bc9df6","type":"mqtt in","z":"9252a1f1.69","name":"","topic":"TCCEnergia/Grafico/contadorp1","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":330,"y":560,"wires":[[]]},{"id":"9bc9fc3a.c6036","type":"ui_text","z":"9252a1f1.69","group":"e83bbad3.38ac78","order":1,"width":5,"height":1,"name":"","label":"Valor do kW/h: R$","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":440,"wires":[]},{"id":"5c059d99.062794","type":"mqtt in","z":"9252a1f1.69","name":"","topic":"TCCEnergia/ConsumoPré/PreçoKWH","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":310,"y":440,"wires":[["9bc9fc3a.c6036"]]},{"id":"e8dabc9a.a9dd6","type":"ui_gauge","z":"9252a1f1.69","name":"","group":"5a4461e2.15a73","order":1,"width":0,"height":0,"gtype":"gage","title":"Fator de potência Mitsubishi","label":"","format":"{{value}}","min":0,"max":"1","colors":["#b40000","#e6e600","#00b500"],"seg1":"0.7","seg2":"0.8","x":620,"y":280,"wires":[]},{"id":"22602fd0.fccf6","type":"ui_gauge","z":"9252a1f1.69","name":"","group":"5a4461e2.15a73","order":2,"width":0,"height":0,"gtype":"gage","title":"Fator de potência Fanuc","label":"","format":"{{value}}","min":0,"max":"1","colors":["#b40000","#e6e600","#00b500"],"seg1":"0.7","seg2":"0.8","x":610,"y":320,"wires":[]},{"id":"73717911.31c0d8","type":"ui_gauge","z":"9252a1f1.69","name":"","group":"74dfe24d.7b998c","order":2,"width":0,"height":0,"gtype":"gage","title":"Potência robô Fanuc","label":"kW","format":"{{value}}","min":0,"max":"350","colors":["#e6e600","#00b500","#ca3838"],"seg1":"220","seg2":"300","x":600,"y":240,"wires":[]},{"id":"65001323.b9f8bc","type":"ui_gauge","z":"9252a1f1.69","name":"","group":"74dfe24d.7b998c","order":1,"width":0,"height":0,"gtype":"gage","title":"Potência robô Mitsubishi","label":"kW","format":"{{value}}","min":0,"max":"150","colors":["#e6e600","#00b500","#ca3838"],"seg1":"80","seg2":"120","x":610,"y":200,"wires":[]},{"id":"6fe39186.4766","type":"calculator","z":"9252a1f1.69","name":"Precificação","inputMsgField":"payload","outputMsgField":"payload","operation":"mult","constant":"0.8","round":true,"decimals":"2","x":570,"y":600,"wires":[["9f44a365.a73a6"]]},{"id":"9f44a365.a73a6","type":"ui_text","z":"9252a1f1.69","group":"74dfe24d.7b998c","order":3,"width":5,"height":1,"name":"","label":"Custo total [R$]","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":600,"wires":[]},{"id":"b7d77bea.4d3ea8","type":"ui_chart","z":"9252a1f1.69","name":"","group":"3dc21d21.1ad7c2","order":1,"width":5,"height":5,"label":"Histórico consumo de energia [kW]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":680,"wires":[[]]},{"id":"41ee9c8b.2e8664","type":"mqtt in","z":"9252a1f1.69","name":"","topic":"Weblab/TCC/TDB1/Energia1","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":340,"y":740,"wires":[["58b55696.6f2988","a646df4.4170a2"]]},{"id":"525cc7bd.8105a8","type":"mqtt in","z":"9252a1f1.69","name":"","topic":"Weblab/TCC/TDB2/Energia2","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":340,"y":820,"wires":[["9c3dbe3d.5abdb","92641499.d13218"]]},{"id":"58b55696.6f2988","type":"calculator","z":"9252a1f1.69","name":"Precificação","inputMsgField":"payload","outputMsgField":"payload","operation":"mult","constant":"0.8","round":true,"decimals":"2","x":570,"y":720,"wires":[["7eb06936.f74668"]]},{"id":"9c3dbe3d.5abdb","type":"calculator","z":"9252a1f1.69","name":"Precificação","inputMsgField":"payload","outputMsgField":"payload","operation":"mult","constant":"0.8","round":true,"decimals":"2","x":570,"y":800,"wires":[["55b75de5.ef6d34"]]},{"id":"92641499.d13218","type":"ui_text","z":"9252a1f1.69","group":"64ba9a91.f9c2a4","order":3,"width":5,"height":1,"name":"","label":"Energia consumida Fanuc","format":"{{msg.payload}}","layout":"col-center","x":610,"y":840,"wires":[]},{"id":"55b75de5.ef6d34","type":"ui_text","z":"9252a1f1.69","group":"74dfe24d.7b998c","order":5,"width":5,"height":1,"name":"","label":"Custo Fanuc [R$]","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":800,"wires":[]},{"id":"a646df4.4170a2","type":"ui_text","z":"9252a1f1.69","group":"64ba9a91.f9c2a4","order":2,"width":5,"height":1,"name":"","label":"Energia consumida Mitsubishi","format":"{{msg.payload}}","layout":"col-center","x":630,"y":760,"wires":[]},{"id":"7eb06936.f74668","type":"ui_text","z":"9252a1f1.69","group":"74dfe24d.7b998c","order":4,"width":5,"height":1,"name":"","label":"Custo Mitsubishi [R$]","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":720,"wires":[]},{"id":"aaf9820.9c8948","type":"ui_template","z":"a029e9b8.9f4228","group":"865468ee.44fff8","name":"Background","order":1,"width":5,"height":3,"format":"<div height=\"300\" style=\"height: 300px\">\n<img src=\"https://weblab.maua.br/node/http-static-files/pictures/robotic_arm/1.jpeg\" width=\"250\"><br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":850,"y":220,"wires":[[]]},{"id":"b15a46e3.050c08","type":"ui_template","z":"8193c2b9.bb051","group":"ca08b514.93ec08","name":"Caixa de ferraementa","order":6,"width":6,"height":3,"format":"<div>\n<img src=\"https://weblab.maua.br/node/http-static-files/pictures/factory4/5.jpeg\" alt=\"Caixa de ferramentas\" width=\"250\"><br/>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":1960,"wires":[[]]},{"id":"d6af04ad.ae48e8","type":"ui_template","z":"8193c2b9.bb051","group":"ca08b514.93ec08","name":"porta celular","order":7,"width":6,"height":3,"format":"<div height=\"150\" style=\"height: 150px\">\n<img src=\"https://weblab.maua.br/node/http-static-files/pictures/factory4/6.jpeg\" alt= \"Porta Celular\" width=\"250\"><br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":110,"y":2040,"wires":[[]]},{"id":"69ab7a8f.a88c14","type":"ui_text","z":"8193c2b9.bb051","group":"ca08b514.93ec08","order":14,"width":6,"height":1,"name":"Titulo CF","label":"Caixa de Ferramentas","format":"","layout":"row-spread","x":100,"y":1920,"wires":[]},{"id":"f72da818.b56fa8","type":"ui_text","z":"8193c2b9.bb051","group":"ca08b514.93ec08","order":15,"width":6,"height":1,"name":"Titulo PC","label":"Porta Celular","format":"","layout":"row-spread","x":100,"y":2000,"wires":[]},{"id":"401e60d5.55cad","type":"ui_template","z":"cd50a717.709188","group":"f02d3ade.e70ac8","name":"Imagem motor","order":19,"width":4,"height":3,"format":"<div height=\"150\" style=\"height: 150px\">\n<img src=\"https://weblab.maua.br/node/http-static-files/pictures/dinamometer/6.jpeg\" width=\"200\"><br/>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":940,"y":740,"wires":[[]]},{"id":"ae70f401.2522a8","type":"ui_template","z":"cd50a717.709188","group":"f02d3ade.e70ac8","name":"imagem bancada","order":21,"width":4,"height":3,"format":"<div height=\"150\" style=\"height: 150px\">\n<img src=\"https://weblab.maua.br/node/http-static-files/pictures/dinamometer/4.jpeg\" width=\"200\"><br/>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":950,"y":780,"wires":[[]]},{"id":"74b50c10.a1ca04","type":"mqtt in","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DI0","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":240,"y":140,"wires":[["584033a9.9a317c"]]},{"id":"618c4d68.d55d04","type":"mqtt out","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DO0","qos":"0","retain":"false","broker":"287e2ee5.849902","x":910,"y":140,"wires":[]},{"id":"3081b64c.4179aa","type":"comment","z":"1ac884ed.ab5b3b","name":"Sinais Digitais","info":"","x":110,"y":40,"wires":[]},{"id":"96996ba7.d2ba18","type":"ui_switch","z":"1ac884ed.ab5b3b","name":"Saída 0","label":"Saída 0","tooltip":"","group":"b2b97af3.9a6978","order":5,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"grey","x":700,"y":140,"wires":[["618c4d68.d55d04"]]},{"id":"584033a9.9a317c","type":"ui_led","z":"1ac884ed.ab5b3b","group":"b2b97af3.9a6978","order":1,"width":2,"height":1,"label":"Entrada 0","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"str"},{"color":"green","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Entrada 0","x":440,"y":140,"wires":[]},{"id":"6202b55a.55119c","type":"ui_slider","z":"1ac884ed.ab5b3b","name":"Saída 0","label":"Saída 0","tooltip":"","group":"b0e3548e.1e4af8","order":5,"width":3,"height":1,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":720,"y":940,"wires":[["73d30778.76af28","e2398db1.13f36"]]},{"id":"e2398db1.13f36","type":"ui_numeric","z":"1ac884ed.ab5b3b","name":"Saída 0","label":"Saída 0","tooltip":"","group":"b0e3548e.1e4af8","order":6,"width":2,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":720,"y":900,"wires":[["73d30778.76af28","6202b55a.55119c"]]},{"id":"a748ce3.894123","type":"ui_gauge","z":"1ac884ed.ab5b3b","name":"Entrada 0","group":"b0e3548e.1e4af8","order":1,"width":3,"height":3,"gtype":"gage","title":"Entrada 0","label":"units","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2,5","seg2":"7,5","x":460,"y":900,"wires":[]},{"id":"6b0333ad.5b97fc","type":"ui_chart","z":"1ac884ed.ab5b3b","name":"Entrada 0","group":"b0e3548e.1e4af8","order":2,"width":3,"height":3,"label":"Entrada 0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":460,"y":940,"wires":[[]]},{"id":"b46ff0f0.ae31e","type":"comment","z":"1ac884ed.ab5b3b","name":"Entradas","info":"","x":120,"y":80,"wires":[]},{"id":"94c684fd.809998","type":"comment","z":"1ac884ed.ab5b3b","name":"Saídas","info":"","x":690,"y":80,"wires":[]},{"id":"abc6cfbb.f67","type":"mqtt in","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DI1","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":240,"y":180,"wires":[["367d89da.1fb176"]]},{"id":"367d89da.1fb176","type":"ui_led","z":"1ac884ed.ab5b3b","group":"b2b97af3.9a6978","order":3,"width":2,"height":1,"label":"Entrada 1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Entrada 1","x":440,"y":180,"wires":[]},{"id":"8997341e.2725d8","type":"link out","z":"1ac884ed.ab5b3b","name":"Load false","links":["58cdf80b.ab87b8","413f45e7.17395c"],"x":375,"y":1300,"wires":[]},{"id":"58cdf80b.ab87b8","type":"link in","z":"1ac884ed.ab5b3b","name":"Load false","links":["8997341e.2725d8"],"x":75,"y":440,"wires":[["584033a9.9a317c","367d89da.1fb176","11388375.69a9ad","2c207c48.9957c4","21f3a136.267f0e","2112f0ae.cd886","bbfb2be8.9fa1d8","f2465dca.7e7c2","41a9e1d3.d10a4","be9f02c2.d328a","1a75718d.5b7a6e","cdc0afc2.b5ac8","f29f6019.c9976","f6e2707b.b85d9","4b6816f4.85ebb8","736227af.fe2d68"]]},{"id":"7689e9f8.194c48","type":"mqtt in","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DI2","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":240,"y":220,"wires":[["11388375.69a9ad"]]},{"id":"11388375.69a9ad","type":"ui_led","z":"1ac884ed.ab5b3b","group":"b2b97af3.9a6978","order":7,"width":2,"height":1,"label":"Entrada 2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"str"},{"color":"green","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Entrada 2","x":440,"y":220,"wires":[]},{"id":"1efa44f3.77410b","type":"mqtt in","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DI3","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":240,"y":260,"wires":[["2c207c48.9957c4"]]},{"id":"2c207c48.9957c4","type":"ui_led","z":"1ac884ed.ab5b3b","group":"b2b97af3.9a6978","order":9,"width":2,"height":1,"label":"Entrada 3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"str"},{"color":"green","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Entrada 3","x":440,"y":260,"wires":[]},{"id":"d85c568e.8be048","type":"mqtt in","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DI4","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":240,"y":300,"wires":[["21f3a136.267f0e"]]},{"id":"21f3a136.267f0e","type":"ui_led","z":"1ac884ed.ab5b3b","group":"b2b97af3.9a6978","order":13,"width":2,"height":1,"label":"Entrada 4","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"str"},{"color":"green","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Entrada 4","x":440,"y":300,"wires":[]},{"id":"561627d1.c9cb68","type":"mqtt in","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DI5","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":240,"y":340,"wires":[["2112f0ae.cd886"]]},{"id":"2112f0ae.cd886","type":"ui_led","z":"1ac884ed.ab5b3b","group":"b2b97af3.9a6978","order":15,"width":2,"height":1,"label":"Entrada 5","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"str"},{"color":"green","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Entrada 5","x":440,"y":340,"wires":[]},{"id":"6ec43234.12f94c","type":"mqtt in","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DI6","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":240,"y":380,"wires":[["bbfb2be8.9fa1d8"]]},{"id":"bbfb2be8.9fa1d8","type":"ui_led","z":"1ac884ed.ab5b3b","group":"b2b97af3.9a6978","order":19,"width":2,"height":1,"label":"Entrada 6","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"str"},{"color":"green","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Entrada 6","x":440,"y":380,"wires":[]},{"id":"ac851cf3.c85a1","type":"mqtt in","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DI7","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":240,"y":420,"wires":[["f2465dca.7e7c2"]]},{"id":"f2465dca.7e7c2","type":"ui_led","z":"1ac884ed.ab5b3b","group":"b2b97af3.9a6978","order":21,"width":2,"height":1,"label":"Entrada 7","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"str"},{"color":"brown","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Entrada 7","x":440,"y":420,"wires":[]},{"id":"5a66b209.f1521c","type":"mqtt in","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DI8","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":240,"y":460,"wires":[["41a9e1d3.d10a4"]]},{"id":"41a9e1d3.d10a4","type":"ui_led","z":"1ac884ed.ab5b3b","group":"b2b97af3.9a6978","order":25,"width":2,"height":1,"label":"Entrada 8","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"str"},{"color":"white","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Entrada 8","x":440,"y":460,"wires":[]},{"id":"9e7e6f0b.c3e3d","type":"mqtt in","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DI9","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":240,"y":500,"wires":[["be9f02c2.d328a"]]},{"id":"be9f02c2.d328a","type":"ui_led","z":"1ac884ed.ab5b3b","group":"b2b97af3.9a6978","order":27,"width":2,"height":1,"label":"Entrada 9","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"str"},{"color":"green","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Entrada 9","x":440,"y":500,"wires":[]},{"id":"62d0ea85.005d34","type":"mqtt in","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DI10","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":240,"y":540,"wires":[["1a75718d.5b7a6e"]]},{"id":"1a75718d.5b7a6e","type":"ui_led","z":"1ac884ed.ab5b3b","group":"b2b97af3.9a6978","order":31,"width":2,"height":1,"label":"Entrada 10","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"str"},{"color":"orange","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Entrada 10","x":450,"y":540,"wires":[]},{"id":"36f47e9d.6cbf02","type":"mqtt in","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DI11","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":240,"y":580,"wires":[["cdc0afc2.b5ac8"]]},{"id":"cdc0afc2.b5ac8","type":"ui_led","z":"1ac884ed.ab5b3b","group":"b2b97af3.9a6978","order":33,"width":2,"height":1,"label":"Entrada 11","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"str"},{"color":"yellow","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Entrada 11","x":450,"y":580,"wires":[]},{"id":"3381ab92.368d14","type":"mqtt in","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DI12","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":240,"y":620,"wires":[["f29f6019.c9976"]]},{"id":"f29f6019.c9976","type":"ui_led","z":"1ac884ed.ab5b3b","group":"b2b97af3.9a6978","order":37,"width":2,"height":1,"label":"Entrada 12","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"str"},{"color":"purple","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Entrada 12","x":450,"y":620,"wires":[]},{"id":"39aad5f2.2f52ba","type":"mqtt in","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DI13","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":240,"y":660,"wires":[["f6e2707b.b85d9"]]},{"id":"f6e2707b.b85d9","type":"ui_led","z":"1ac884ed.ab5b3b","group":"b2b97af3.9a6978","order":39,"width":2,"height":1,"label":"Entrada 13","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"str"},{"color":"red","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Entrada 13","x":450,"y":660,"wires":[]},{"id":"c462d616.8fc528","type":"mqtt in","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DI14","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":240,"y":700,"wires":[["4b6816f4.85ebb8"]]},{"id":"4b6816f4.85ebb8","type":"ui_led","z":"1ac884ed.ab5b3b","group":"b2b97af3.9a6978","order":43,"width":2,"height":1,"label":"Entrada 14","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"str"},{"color":"blue","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Entrada 14","x":450,"y":700,"wires":[]},{"id":"efb2a4c1.8094b8","type":"mqtt in","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DI15","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":240,"y":740,"wires":[["736227af.fe2d68"]]},{"id":"736227af.fe2d68","type":"ui_led","z":"1ac884ed.ab5b3b","group":"b2b97af3.9a6978","order":45,"width":2,"height":1,"label":"Entrada 15","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"str"},{"color":"black","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Entrada 15","x":450,"y":740,"wires":[]},{"id":"1604f09e.e5024f","type":"comment","z":"1ac884ed.ab5b3b","name":"Sinais Analógicos","info":"","x":120,"y":800,"wires":[]},{"id":"ab8acb5.a56e938","type":"comment","z":"1ac884ed.ab5b3b","name":"Entradas","info":"","x":120,"y":840,"wires":[]},{"id":"c94a8994.3801e8","type":"mqtt in","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/AI0","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":240,"y":920,"wires":[["a748ce3.894123","6b0333ad.5b97fc"]]},{"id":"38d46b99.af3b04","type":"comment","z":"1ac884ed.ab5b3b","name":"Saídas","info":"","x":690,"y":840,"wires":[]},{"id":"73d30778.76af28","type":"mqtt out","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/AO0","qos":"0","retain":"false","broker":"287e2ee5.849902","x":950,"y":920,"wires":[]},{"id":"3a18fca4.c2ce04","type":"mqtt out","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DO1","qos":"0","retain":"false","broker":"287e2ee5.849902","x":910,"y":180,"wires":[]},{"id":"9a4363ff.43abf","type":"ui_switch","z":"1ac884ed.ab5b3b","name":"Saída 1","label":"Saída 1","tooltip":"","group":"b2b97af3.9a6978","order":6,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"grey","x":700,"y":180,"wires":[["3a18fca4.c2ce04","367d89da.1fb176"]]},{"id":"e88cb291.c66ed","type":"mqtt out","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DO2","qos":"0","retain":"false","broker":"287e2ee5.849902","x":910,"y":220,"wires":[]},{"id":"201db8a6.848368","type":"ui_switch","z":"1ac884ed.ab5b3b","name":"Saída 2","label":"Saída 2","tooltip":"","group":"b2b97af3.9a6978","order":11,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"grey","x":700,"y":220,"wires":[["e88cb291.c66ed"]]},{"id":"47abe91f.2d62e8","type":"mqtt out","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DO3","qos":"0","retain":"false","broker":"287e2ee5.849902","x":910,"y":260,"wires":[]},{"id":"117e54ee.7eeedb","type":"ui_switch","z":"1ac884ed.ab5b3b","name":"Saída 3","label":"Saída 3","tooltip":"","group":"b2b97af3.9a6978","order":12,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"grey","x":700,"y":260,"wires":[["47abe91f.2d62e8"]]},{"id":"f2f30fc0.563ec","type":"mqtt out","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DO4","qos":"0","retain":"false","broker":"287e2ee5.849902","x":910,"y":300,"wires":[]},{"id":"f745a60c.46f238","type":"ui_switch","z":"1ac884ed.ab5b3b","name":"Saída 4","label":"Saída 4","tooltip":"","group":"b2b97af3.9a6978","order":17,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"grey","x":700,"y":300,"wires":[["f2f30fc0.563ec"]]},{"id":"23c5164d.c3b5aa","type":"mqtt out","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DO5","qos":"0","retain":"false","broker":"287e2ee5.849902","x":910,"y":340,"wires":[]},{"id":"f4711c41.ef1b7","type":"ui_switch","z":"1ac884ed.ab5b3b","name":"Saída 5","label":"Saída 5","tooltip":"","group":"b2b97af3.9a6978","order":18,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"grey","x":700,"y":340,"wires":[["23c5164d.c3b5aa"]]},{"id":"346fc3c8.82d48c","type":"mqtt out","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DO6","qos":"0","retain":"false","broker":"287e2ee5.849902","x":910,"y":380,"wires":[]},{"id":"8e6e029d.530c3","type":"ui_switch","z":"1ac884ed.ab5b3b","name":"Saída 6","label":"Saída 6","tooltip":"","group":"b2b97af3.9a6978","order":23,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"grey","x":700,"y":380,"wires":[["346fc3c8.82d48c"]]},{"id":"35095d1e.dc7962","type":"mqtt out","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DO7","qos":"0","retain":"false","broker":"287e2ee5.849902","x":910,"y":420,"wires":[]},{"id":"cd981aee.309988","type":"ui_switch","z":"1ac884ed.ab5b3b","name":"Saída 7","label":"Saída 7","tooltip":"","group":"b2b97af3.9a6978","order":24,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"grey","x":700,"y":420,"wires":[["35095d1e.dc7962"]]},{"id":"4b250368.1d4ccc","type":"mqtt out","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DO8","qos":"0","retain":"false","broker":"287e2ee5.849902","x":910,"y":460,"wires":[]},{"id":"12a66b29.23bd65","type":"ui_switch","z":"1ac884ed.ab5b3b","name":"Saída 8","label":"Saída 8","tooltip":"","group":"b2b97af3.9a6978","order":29,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"grey","x":700,"y":460,"wires":[["4b250368.1d4ccc"]]},{"id":"644f627c.33fe7c","type":"mqtt out","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DO9","qos":"0","retain":"false","broker":"287e2ee5.849902","x":910,"y":500,"wires":[]},{"id":"55b06e8.5f0ea9","type":"ui_switch","z":"1ac884ed.ab5b3b","name":"Saída 9","label":"Saída 9","tooltip":"","group":"b2b97af3.9a6978","order":30,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"grey","x":700,"y":500,"wires":[["644f627c.33fe7c"]]},{"id":"e0f92303.f9f5","type":"mqtt out","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DO10","qos":"0","retain":"false","broker":"287e2ee5.849902","x":910,"y":540,"wires":[]},{"id":"ae33cb.181b4c38","type":"ui_switch","z":"1ac884ed.ab5b3b","name":"Saída 10","label":"Saída 10","tooltip":"","group":"b2b97af3.9a6978","order":35,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"grey","x":700,"y":540,"wires":[["e0f92303.f9f5"]]},{"id":"f158ddf.76c4e2","type":"mqtt out","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DO11","qos":"0","retain":"false","broker":"287e2ee5.849902","x":910,"y":580,"wires":[]},{"id":"9a34f32b.8460d","type":"ui_switch","z":"1ac884ed.ab5b3b","name":"Saída 11","label":"Saída 11","tooltip":"","group":"b2b97af3.9a6978","order":36,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"grey","x":700,"y":580,"wires":[["f158ddf.76c4e2"]]},{"id":"197f9d19.a3d313","type":"mqtt out","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DO12","qos":"0","retain":"false","broker":"287e2ee5.849902","x":910,"y":620,"wires":[]},{"id":"4add9b93.e28a64","type":"ui_switch","z":"1ac884ed.ab5b3b","name":"Saída 12","label":"Saída 12","tooltip":"","group":"b2b97af3.9a6978","order":41,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"grey","x":700,"y":620,"wires":[["197f9d19.a3d313"]]},{"id":"e4ac536e.384bf","type":"mqtt out","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DO13","qos":"0","retain":"false","broker":"287e2ee5.849902","x":910,"y":660,"wires":[]},{"id":"eee0e281.341a1","type":"ui_switch","z":"1ac884ed.ab5b3b","name":"Saída 13","label":"Saída 13","tooltip":"","group":"b2b97af3.9a6978","order":42,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"grey","x":700,"y":660,"wires":[["e4ac536e.384bf"]]},{"id":"ad55154e.85ee58","type":"mqtt out","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DO14","qos":"0","retain":"false","broker":"287e2ee5.849902","x":910,"y":700,"wires":[]},{"id":"bd7127fd.cc7258","type":"ui_switch","z":"1ac884ed.ab5b3b","name":"Saída 14","label":"Saída 14","tooltip":"","group":"b2b97af3.9a6978","order":47,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"grey","x":700,"y":700,"wires":[["ad55154e.85ee58"]]},{"id":"c8102db0.a01e4","type":"mqtt out","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DO15","qos":"0","retain":"false","broker":"287e2ee5.849902","x":910,"y":740,"wires":[]},{"id":"58b7a05c.54698","type":"ui_switch","z":"1ac884ed.ab5b3b","name":"Saída 15","label":"Saída 15","tooltip":"","group":"b2b97af3.9a6978","order":48,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"grey","x":700,"y":740,"wires":[["c8102db0.a01e4"]]},{"id":"cb16ab6f.c382e8","type":"ui_gauge","z":"1ac884ed.ab5b3b","name":"Entrada 1","group":"b0e3548e.1e4af8","order":8,"width":3,"height":3,"gtype":"gage","title":"Entrada 1","label":"units","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2,5","seg2":"7,5","x":460,"y":980,"wires":[]},{"id":"3b2debef.643184","type":"ui_chart","z":"1ac884ed.ab5b3b","name":"Entrada 1","group":"b0e3548e.1e4af8","order":9,"width":3,"height":3,"label":"Entrada 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":460,"y":1020,"wires":[[]]},{"id":"f79d420f.5557f","type":"mqtt in","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/AI1","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":240,"y":1000,"wires":[["cb16ab6f.c382e8","3b2debef.643184"]]},{"id":"37c513f7.b3f3cc","type":"ui_gauge","z":"1ac884ed.ab5b3b","name":"Entrada 2","group":"b0e3548e.1e4af8","order":15,"width":3,"height":3,"gtype":"gage","title":"Entrada 2","label":"units","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2,5","seg2":"7,5","x":460,"y":1060,"wires":[]},{"id":"6d14035b.2b50fc","type":"ui_chart","z":"1ac884ed.ab5b3b","name":"Entrada 2","group":"b0e3548e.1e4af8","order":16,"width":3,"height":3,"label":"Entrada 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":460,"y":1100,"wires":[[]]},{"id":"d9de4af.8c14fb8","type":"mqtt in","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/AI2","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":240,"y":1080,"wires":[["37c513f7.b3f3cc","6d14035b.2b50fc"]]},{"id":"7bfbac37.68fb54","type":"ui_gauge","z":"1ac884ed.ab5b3b","name":"Entrada 3","group":"b0e3548e.1e4af8","order":22,"width":3,"height":3,"gtype":"gage","title":"Entrada 3","label":"units","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2,5","seg2":"7,5","x":460,"y":1140,"wires":[]},{"id":"a2b789aa.013ca8","type":"ui_chart","z":"1ac884ed.ab5b3b","name":"Entrada 3","group":"b0e3548e.1e4af8","order":23,"width":3,"height":3,"label":"Entrada 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":460,"y":1180,"wires":[[]]},{"id":"3e447dce.d22532","type":"mqtt in","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/AI3","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":240,"y":1160,"wires":[["7bfbac37.68fb54","a2b789aa.013ca8"]]},{"id":"afabec11.17a56","type":"ui_slider","z":"1ac884ed.ab5b3b","name":"Saída 1","label":"Saída 1","tooltip":"","group":"b0e3548e.1e4af8","order":12,"width":3,"height":1,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":720,"y":1020,"wires":[["42d6e889.027488","a95fa270.fc0b1"]]},{"id":"a95fa270.fc0b1","type":"ui_numeric","z":"1ac884ed.ab5b3b","name":"Saída 1","label":"Saída 1","tooltip":"","group":"b0e3548e.1e4af8","order":13,"width":2,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":720,"y":980,"wires":[["42d6e889.027488","afabec11.17a56"]]},{"id":"42d6e889.027488","type":"mqtt out","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/AO1","qos":"0","retain":"false","broker":"287e2ee5.849902","x":950,"y":1000,"wires":[]},{"id":"1e6479ec.bc2906","type":"ui_slider","z":"1ac884ed.ab5b3b","name":"Saída 2","label":"Saída 2","tooltip":"","group":"b0e3548e.1e4af8","order":19,"width":3,"height":1,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":720,"y":1100,"wires":[["de56d510.56e0e8","48281c29.ed1e04"]]},{"id":"48281c29.ed1e04","type":"ui_numeric","z":"1ac884ed.ab5b3b","name":"Saída 2","label":"Saída 2","tooltip":"","group":"b0e3548e.1e4af8","order":20,"width":2,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":720,"y":1060,"wires":[["de56d510.56e0e8","1e6479ec.bc2906"]]},{"id":"de56d510.56e0e8","type":"mqtt out","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/AO2","qos":"0","retain":"false","broker":"287e2ee5.849902","x":950,"y":1080,"wires":[]},{"id":"9c41ec14.e29a5","type":"ui_slider","z":"1ac884ed.ab5b3b","name":"Saída 3","label":"Saída 3","tooltip":"","group":"b0e3548e.1e4af8","order":26,"width":3,"height":1,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":720,"y":1180,"wires":[["6151d923.88dce8","6c655a5d.781f84"]]},{"id":"6c655a5d.781f84","type":"ui_numeric","z":"1ac884ed.ab5b3b","name":"Saída 3","label":"Saída 3","tooltip":"","group":"b0e3548e.1e4af8","order":27,"width":2,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":720,"y":1140,"wires":[["6151d923.88dce8","9c41ec14.e29a5"]]},{"id":"6151d923.88dce8","type":"mqtt out","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/AO3","qos":"0","retain":"false","broker":"287e2ee5.849902","x":950,"y":1160,"wires":[]},{"id":"fa70f0a3.b29db","type":"comment","z":"1ac884ed.ab5b3b","name":"On Load","info":"","x":160,"y":1240,"wires":[]},{"id":"23bb1d7c.66f7d2","type":"hidden-ui-load","z":"1ac884ed.ab5b3b","group":"b2b97af3.9a6978","order":0,"name":"","x":160,"y":1320,"wires":[["86fdf49c.8ee358"]]},{"id":"86fdf49c.8ee358","type":"function","z":"1ac884ed.ab5b3b","name":"","func":"msg.payload=\"false\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1300,"wires":[["8997341e.2725d8"]]},{"id":"7c74110.7e8c1f","type":"link out","z":"1ac884ed.ab5b3b","name":"Load zero","links":["c5f51815.206608","281d6d5d.743a82"],"x":375,"y":1340,"wires":[]},{"id":"14435335.5e71fd","type":"function","z":"1ac884ed.ab5b3b","name":"","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1340,"wires":[["7c74110.7e8c1f"]]},{"id":"c5f51815.206608","type":"link in","z":"1ac884ed.ab5b3b","name":"load zero","links":["7c74110.7e8c1f"],"x":295,"y":1040,"wires":[["a748ce3.894123","6b0333ad.5b97fc","cb16ab6f.c382e8","3b2debef.643184","37c513f7.b3f3cc","6d14035b.2b50fc","7bfbac37.68fb54","a2b789aa.013ca8"]]},{"id":"413f45e7.17395c","type":"link in","z":"1ac884ed.ab5b3b","name":"Load false","links":["8997341e.2725d8"],"x":595,"y":440,"wires":[["96996ba7.d2ba18","9a4363ff.43abf","201db8a6.848368","117e54ee.7eeedb","f745a60c.46f238","f4711c41.ef1b7","cd981aee.309988","12a66b29.23bd65","55b06e8.5f0ea9","ae33cb.181b4c38","9a34f32b.8460d","4add9b93.e28a64","eee0e281.341a1","bd7127fd.cc7258","58b7a05c.54698"]]},{"id":"281d6d5d.743a82","type":"link in","z":"1ac884ed.ab5b3b","name":"load zero","links":["7c74110.7e8c1f"],"x":595,"y":1040,"wires":[["e2398db1.13f36","6202b55a.55119c","a95fa270.fc0b1","afabec11.17a56","48281c29.ed1e04","1e6479ec.bc2906","6c655a5d.781f84","9c41ec14.e29a5"]]},{"id":"1536fea.69f1901","type":"comment","z":"f0cf2a5a.006fc8","name":"old topic weblab exclusive'","info":"dv_app_GNV9RCjQ/tx","x":590,"y":60,"wires":[]},{"id":"1a657846.6dd038","type":"ui_button","z":"1ac884ed.ab5b3b","name":"","group":"b2b97af3.9a6978","order":48,"width":"6","height":"2","passthru":false,"label":"Liga","tooltip":"","color":"green","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":1460,"wires":[["4404d169.c16f5"]]},{"id":"13c9c576.9abbcb","type":"mqtt out","z":"1ac884ed.ab5b3b","name":"","topic":"Weblab/TemplatePadrao/DI0","qos":"2","retain":"true","broker":"287e2ee5.849902","x":540,"y":1480,"wires":[]},{"id":"4404d169.c16f5","type":"function","z":"1ac884ed.ab5b3b","name":"","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1460,"wires":[["13c9c576.9abbcb"]]},{"id":"7e4fd8c9.393af8","type":"function","z":"1ac884ed.ab5b3b","name":"","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1500,"wires":[["13c9c576.9abbcb"]]},{"id":"fb83196b.e19df8","type":"ui_button","z":"1ac884ed.ab5b3b","name":"","group":"b2b97af3.9a6978","order":48,"width":"6","height":"2","passthru":false,"label":"Deliga","tooltip":"","color":"red","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":1500,"wires":[["7e4fd8c9.393af8"]]},{"id":"ebaeedee.13259","type":"json","z":"7701e68e.b21418","name":"","property":"payload","action":"","pretty":false,"x":350,"y":120,"wires":[["c529a4f7.ea4df8","ba15eb6b.a33618","bcec5b87.e36af8","fd6f4442.044f08","2ba5ef0d.fbcab","5756daa4.077b54","e658161b.df6dc8","3edbffd1.92f02","5af06d69.965024","a98cc59b.a53d78","5bd91551.efaf4c","2b4a91.43acb57"]]},{"id":"2ba5ef0d.fbcab","type":"function","z":"7701e68e.b21418","name":"format date and time","func":"\nif (msg.payload.date.day < 10) {\n    msg.payload.date.day = \"0\" + msg.payload.date.day;\n}\n\nif (msg.payload.date.month < 10) {\n    msg.payload.date.month = \"0\" + msg.payload.date.month;\n}\n\nif (msg.payload.date.hour < 10) {\n    msg.payload.date.hour = \"0\" + msg.payload.date.hour;\n}\n\nif (msg.payload.date.minute < 10) {\n    msg.payload.date.minute = \"0\" + msg.payload.date.minute;\n}\n\nif (msg.payload.date.seconds < 10) {\n    msg.payload.date.seconds = \"0\" + msg.payload.date.seconds;\n}\n\nmsg.payload.data = msg.payload.date.day + \"/\" + msg.payload.date.month + \"/\" + msg.payload.date.year;\nmsg.payload.hora = msg.payload.date.hour + \":\" + msg.payload.date.minute + \":\" + msg.payload.date.seconds;\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":80,"wires":[["86a60aa1.52ef58","746cae1f.d74dc"]]},{"id":"fd6f4442.044f08","type":"debug","z":"7701e68e.b21418","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":80,"wires":[]},{"id":"86a60aa1.52ef58","type":"ui_text","z":"7701e68e.b21418","d":true,"group":"fb31a0e9.ed311","order":3,"width":"0","height":"0","name":"Date","label":"Data","format":"{{msg.payload.data}}","layout":"row-spread","x":810,"y":60,"wires":[]},{"id":"746cae1f.d74dc","type":"ui_text","z":"7701e68e.b21418","d":true,"group":"fb31a0e9.ed311","order":3,"width":0,"height":0,"name":"Time","label":"Hora","format":"{{msg.payload.hora}}","layout":"row-spread","x":810,"y":100,"wires":[]},{"id":"ca92ee70.e5d47","type":"mqtt in","z":"7701e68e.b21418","name":"","topic":"respirador/dados","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":140,"y":120,"wires":[["ebaeedee.13259"]]},{"id":"c529a4f7.ea4df8","type":"ui_text","z":"7701e68e.b21418","d":true,"group":"4f09908c.220de","order":0,"width":"5","height":"3","name":"pot","label":"potenciometro","format":"{{msg.payload.dados.potenciometro}}","layout":"row-spread","x":810,"y":140,"wires":[]},{"id":"ba15eb6b.a33618","type":"ui_text","z":"7701e68e.b21418","group":"4f09908c.220de","order":0,"width":"8","height":"2","name":"Volume Corrente","label":"Volume Corrente:          ","format":"{{msg.payload.dados.MAF}} ml/kg","layout":"row-left","x":850,"y":180,"wires":[]},{"id":"bcec5b87.e36af8","type":"ui_text","z":"7701e68e.b21418","group":"4f09908c.220de","order":0,"width":"7","height":"2","name":"Pressão","label":"Pressão:        ","format":"{{msg.payload.dados.Pressao}} cmH20","layout":"row-left","x":820,"y":220,"wires":[]},{"id":"5756daa4.077b54","type":"ui_text","z":"7701e68e.b21418","d":true,"group":"608ff1bc.ac71c","order":0,"width":0,"height":0,"name":"VC","label":"Volume Corrente","format":"{{msg.payload.dados.VC}}","layout":"row-spread","x":810,"y":260,"wires":[]},{"id":"e658161b.df6dc8","type":"ui_text","z":"7701e68e.b21418","d":true,"group":"608ff1bc.ac71c","order":0,"width":0,"height":0,"name":"PIP","label":"PIP","format":"{{msg.payload.dados.PIP}}","layout":"row-spread","x":810,"y":300,"wires":[]},{"id":"3edbffd1.92f02","type":"ui_text","z":"7701e68e.b21418","d":true,"group":"608ff1bc.ac71c","order":0,"width":0,"height":0,"name":"PEEP","label":"PEEP","format":"{{msg.payload.dados.PEEP}}","layout":"row-spread","x":810,"y":340,"wires":[]},{"id":"5af06d69.965024","type":"ui_text","z":"7701e68e.b21418","d":true,"group":"608ff1bc.ac71c","order":0,"width":0,"height":0,"name":"TINS","label":"TINS","format":"{{msg.payload.dados.TINS}}","layout":"row-spread","x":810,"y":380,"wires":[]},{"id":"a98cc59b.a53d78","type":"ui_text","z":"7701e68e.b21418","d":true,"group":"608ff1bc.ac71c","order":0,"width":0,"height":0,"name":"TEXP","label":"TEXP","format":"{{msg.payload.dados.TEXP}}","layout":"row-spread","x":810,"y":420,"wires":[]},{"id":"5bd91551.efaf4c","type":"ui_text","z":"7701e68e.b21418","d":true,"group":"608ff1bc.ac71c","order":0,"width":0,"height":0,"name":"PIF","label":"PIF","format":"{{msg.payload.dados.PIF}}","layout":"row-spread","x":810,"y":460,"wires":[]},{"id":"13d397c3.f8a8c8","type":"ui_chart","z":"7701e68e.b21418","name":"","group":"fbf030ae.86b9d","order":3,"width":"15","height":"9","label":"Volume Corrente (kg/ml) versus Tempo (s)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"monotone","nodata":"","dot":false,"ymin":"0","ymax":"5000","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#f0f2f5","#e8ecf3","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":580,"y":420,"wires":[[]]},{"id":"2b4a91.43acb57","type":"function","z":"7701e68e.b21418","name":"","func":"msg.payload.dados.MAF\n\nmsg = {topic:\"fluxo\", payload:msg.payload.dados.MAF} \n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["13d397c3.f8a8c8","1619a522.7db42b"]]},{"id":"fb1ec964.37f7a8","type":"ui_button","z":"7701e68e.b21418","d":true,"name":"","group":"5da8e12b.959d5","order":16,"width":"14","height":1,"passthru":false,"label":"Câmera do Respirador","tooltip":"","color":"","bgcolor":"#003566","icon":"","payload":"{\"SERVICE_MASTER\":\"set_new_video_feed\",\"cam_ip\":\"mediaserver.maua.br\",\"cam_port\":8090,\"cam_query\":\"bancada-handson.mjpg\"}","payloadType":"str","topic":"dv_app_GNV9RCjP/tx","x":400,"y":600,"wires":[["fe71c8ce.9e87b8"]]},{"id":"622131f0.6584a","type":"ui_template","z":"7701e68e.b21418","group":"5da8e12b.959d5","name":"Camera do Respirador","order":1,"width":"14","height":"11","format":" <div align=\"center\">\n    <iframe\n        src='https://mediaserver.maua.br:7070/weblab.mjpg'\n        width=710px\n        height=560px\n        scrolling=\"no\"\n        frameborder=\"0\"\n        marginheight=\"0\" \n        marginwidth=\"0\"\n    >\n    </iframe>\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":180,"y":600,"wires":[[]]},{"id":"fe71c8ce.9e87b8","type":"mqtt out","z":"7701e68e.b21418","name":"","topic":"dv_app_GNV9RCjQ/tx","qos":"0","retain":"false","broker":"280b02c5.f7734e","x":640,"y":600,"wires":[]},{"id":"4d60ada3.12d474","type":"comment","z":"7701e68e.b21418","name":"old topic weblab exclusive'","info":"dv_app_GNV9RCjQ/tx","x":650,"y":560,"wires":[]},{"id":"de9ab2db.3881a","type":"comment","z":"7701e68e.b21418","name":"Exibindo as câmeras","info":"","x":170,"y":540,"wires":[]},{"id":"4c4a035a.1136dc","type":"comment","z":"7701e68e.b21418","name":"","info":"    \"cam_ip\": \"ipcam_00b006000542.maua.br\",","x":380,"y":700,"wires":[]},{"id":"1ca18353.001f0d","type":"ui_button","z":"7701e68e.b21418","name":"","group":"5da8e12b.959d5","order":4,"width":"14","height":"1","passthru":false,"label":"CÂMERA DO RESPIRADOR","tooltip":"","color":"","bgcolor":"#003566","icon":"","payload":"{\"SERVICE_MASTER\":\"set_new_video_feed\",\"cam_ip\":\"10.33.133.17\",\"cam_port\":80,\"cam_query\":\"videostream.cgi?user=admin&pwd=&resolution=32&rate=0\"}","payloadType":"json","topic":"dv_app_GNV9RCjP/tx","x":440,"y":660,"wires":[["fe71c8ce.9e87b8"]]},{"id":"1619a522.7db42b","type":"debug","z":"7701e68e.b21418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":300,"wires":[]},{"id":"9c6bfe4f.822d5","type":"ui_gauge","z":"f49a345f.bd2618","name":"","group":"c43e1755.6bc5c8","order":3,"width":4,"height":4,"gtype":"gage","title":"ΔP observado na câmera de expansão [polH²O]","label":"[polH²O]","format":"{{value}}","min":0,"max":"-16","colors":["#858585","#3de600","#858585"],"seg1":"-9.9","seg2":"-10.1","x":1020,"y":420,"wires":[]},{"id":"c5509d6c.f0f9e","type":"ui_text","z":"f49a345f.bd2618","group":"6092ba60.6e7174","order":9,"width":2,"height":1,"name":"ΔP observado","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":500,"wires":[]},{"id":"561fd61e.f31348","type":"ui_button","z":"f49a345f.bd2618","name":"","group":"6092ba60.6e7174","order":2,"width":7,"height":1,"passthru":false,"label":"Iniciar","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"str","topic":"","x":750,"y":220,"wires":[["4000e3c2.96664c"]]},{"id":"e64e34ea.1c1e18","type":"ui_button","z":"f49a345f.bd2618","name":"","group":"6092ba60.6e7174","order":3,"width":7,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"true","payloadType":"str","topic":"","x":750,"y":260,"wires":[["9da8dde7.5784d"]]},{"id":"f133aa82.d2ed18","type":"ui_text","z":"f49a345f.bd2618","group":"6092ba60.6e7174","order":21,"width":2,"height":1,"name":"Pressão a montante","label":"","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":540,"wires":[]},{"id":"24e6bc68.116c54","type":"ui_text","z":"f49a345f.bd2618","group":"6092ba60.6e7174","order":8,"width":4,"height":1,"name":"","label":"ΔP observado na câmera de expansão [polH²O]","format":"","layout":"row-spread","x":1000,"y":140,"wires":[]},{"id":"2b7cd3fe.27e31c","type":"ui_text","z":"f49a345f.bd2618","group":"6092ba60.6e7174","order":20,"width":4,"height":1,"name":"","label":"Pressão a montante da placa de orifício [Pa]","format":"","layout":"row-spread","x":990,"y":180,"wires":[]},{"id":"9462e338.5cb3f","type":"ui_text","z":"f49a345f.bd2618","group":"6092ba60.6e7174","order":15,"width":2,"height":1,"name":"Pressão a jusante","label":"","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":580,"wires":[]},{"id":"65230fb5.159e9","type":"ui_text","z":"f49a345f.bd2618","group":"6092ba60.6e7174","order":14,"width":4,"height":1,"name":"","label":"Pressão a jusante da placa de orifício [Pa]","format":"","layout":"row-spread","x":980,"y":100,"wires":[]},{"id":"8967d0f0.c321c","type":"mqtt in","z":"f49a345f.bd2618","name":"","topic":"WebLab/FluxoDeCabecote/FBDeltaP_Imp","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":640,"y":460,"wires":[["9c6bfe4f.822d5","9a8f0189.00daa","c5509d6c.f0f9e"]]},{"id":"c967264a.7db6e8","type":"ui_numeric","z":"f49a345f.bd2618","name":"","label":"Levantamento [mm]","tooltip":"","group":"6092ba60.6e7174","order":12,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":"1","x":700,"y":300,"wires":[["11a7766.de5d58a"]]},{"id":"85879b8b.891268","type":"ui_numeric","z":"f49a345f.bd2618","name":"","label":"ΔP imposto na câmera de expansão [polH²O]","tooltip":"Insira o valor para o ΔP imposto na câmera de expansão antes de iniciar o ensaio.","group":"6092ba60.6e7174","order":6,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"16","step":1,"x":610,"y":340,"wires":[["e3be9e79.679ed","fea6ca20.03f278"]]},{"id":"36720ef5.eeb8b2","type":"ui_text","z":"f49a345f.bd2618","group":"6092ba60.6e7174","order":18,"width":4,"height":1,"name":"","label":"Temperatura [ºC]","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":620,"wires":[]},{"id":"11a7766.de5d58a","type":"mqtt out","z":"f49a345f.bd2618","name":"","topic":"WebLab/FluxoDeCabecote/Levantamento","qos":"0","retain":"false","broker":"287e2ee5.849902","x":980,"y":300,"wires":[]},{"id":"862e4b63.062438","type":"mqtt in","z":"f49a345f.bd2618","name":"","topic":"WebLab/FluxoDeCabecote/Transdutor2","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":630,"y":540,"wires":[["f133aa82.d2ed18","16f41499.f96abb","c2187a28.7c0d08"]]},{"id":"26c5cb44.bca424","type":"mqtt in","z":"f49a345f.bd2618","name":"","topic":"WebLab/FluxoDeCabecote/Transdutor3","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":630,"y":580,"wires":[["9462e338.5cb3f","c0f31773.6e9548","2cbf8bf1.7a5e74"]]},{"id":"4000e3c2.96664c","type":"mqtt out","z":"f49a345f.bd2618","name":"","topic":"WebLab/FluxoDeCabecote/Start","qos":"0","retain":"false","broker":"287e2ee5.849902","x":950,"y":220,"wires":[]},{"id":"9da8dde7.5784d","type":"mqtt out","z":"f49a345f.bd2618","name":"","topic":"WebLab/FluxoDeCabecote/Stop","qos":"0","retain":"false","broker":"287e2ee5.849902","x":950,"y":260,"wires":[]},{"id":"e3be9e79.679ed","type":"mqtt out","z":"f49a345f.bd2618","name":"","topic":"WebLab/FluxoDeCabecote/DeltaP_Imp","qos":"0","retain":"false","broker":"287e2ee5.849902","x":980,"y":340,"wires":[]},{"id":"727ebc19.5f02a4","type":"mqtt in","z":"f49a345f.bd2618","name":"","topic":"WebLab/FluxoDeCabecote/Termopar","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":630,"y":620,"wires":[["36720ef5.eeb8b2"]]},{"id":"bd29745a.151408","type":"function","z":"f49a345f.bd2618","name":"msg = \" \"","func":"msg.payload=\" \";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":480,"wires":[["36720ef5.eeb8b2","9462e338.5cb3f","f133aa82.d2ed18","c5509d6c.f0f9e","517e8acd.2111e4","a03c9ebf.d25df","a1608ae7.51e378"]]},{"id":"e3ebee59.94974","type":"function","z":"f49a345f.bd2618","name":"msg=0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":440,"wires":[["9c6bfe4f.822d5","85879b8b.891268","c967264a.7db6e8","2750c09b.663e8","b3afac4e.4c6a","c2187a28.7c0d08","2cbf8bf1.7a5e74"]]},{"id":"9a8f0189.00daa","type":"ui_chart","z":"f49a345f.bd2618","name":"","group":"c43e1755.6bc5c8","order":2,"width":16,"height":4,"label":"ΔP observado na câmera de expansão [polH²O]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"-12","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1060,"y":460,"wires":[[]]},{"id":"c0f31773.6e9548","type":"ui_chart","z":"f49a345f.bd2618","name":"","group":"c43e1755.6bc5c8","order":6,"width":16,"height":4,"label":"Pressão a jusante da placa de orifício [Pa]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1220,"y":580,"wires":[[]]},{"id":"16f41499.f96abb","type":"ui_chart","z":"f49a345f.bd2618","name":"","group":"c43e1755.6bc5c8","order":4,"width":16,"height":4,"label":"Pressão a montante da placa de orifício [Pa]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1230,"y":540,"wires":[[]]},{"id":"c2187a28.7c0d08","type":"ui_gauge","z":"f49a345f.bd2618","name":"","group":"c43e1755.6bc5c8","order":5,"width":4,"height":4,"gtype":"gage","title":"Pressão a montante da placa de orifício [Pa]","label":"[Pa]","format":"{{value}}","min":0,"max":"-10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1590,"y":540,"wires":[]},{"id":"2cbf8bf1.7a5e74","type":"ui_gauge","z":"f49a345f.bd2618","name":"","group":"c43e1755.6bc5c8","order":7,"width":4,"height":4,"gtype":"gage","title":"Pressão a jusante da placa de orifício [Pa]","label":"[Pa]","format":"{{value}}","min":0,"max":"-20000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1580,"y":580,"wires":[]},{"id":"fea6ca20.03f278","type":"function","z":"f49a345f.bd2618","name":"mmH2O para polH20","func":"msg.payload = Math.round(msg.payload*25.4);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":380,"wires":[["a1608ae7.51e378"]]},{"id":"a1608ae7.51e378","type":"ui_text","z":"f49a345f.bd2618","group":"6092ba60.6e7174","order":11,"width":4,"height":1,"name":"","label":"ΔP imposto em mmH²O:","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":380,"wires":[]},{"id":"96275394.2c51e","type":"mqtt in","z":"f49a345f.bd2618","name":"","topic":"WebLab/FluxoDeCabecote/erro","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":610,"y":700,"wires":[["517e8acd.2111e4"]]},{"id":"517e8acd.2111e4","type":"ui_text","z":"f49a345f.bd2618","group":"6092ba60.6e7174","order":10,"width":3,"height":1,"name":"","label":"Erro do ΔP na câmara","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":700,"wires":[]},{"id":"aefb26d3.963d38","type":"mqtt in","z":"f49a345f.bd2618","name":"","topic":"WebLab/FluxoDeCabecote/DeltaPPlaca","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":630,"y":660,"wires":[["a03c9ebf.d25df","34937475.75032c","b3afac4e.4c6a"]]},{"id":"a03c9ebf.d25df","type":"ui_text","z":"f49a345f.bd2618","group":"6092ba60.6e7174","order":25,"width":2,"height":1,"name":"ΔP da Placa de orifício","label":"","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":780,"wires":[]},{"id":"34937475.75032c","type":"ui_chart","z":"f49a345f.bd2618","name":"","group":"c43e1755.6bc5c8","order":8,"width":16,"height":4,"label":"ΔP da Placa de orifício [Pa]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1160,"y":780,"wires":[[]]},{"id":"b3afac4e.4c6a","type":"ui_gauge","z":"f49a345f.bd2618","name":"","group":"c43e1755.6bc5c8","order":9,"width":4,"height":4,"gtype":"gage","title":"ΔP da Placa de orifício [Pa]","label":"[Pa]","format":"{{value}}","min":0,"max":"-20000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1420,"y":780,"wires":[]},{"id":"401fcb8f.068034","type":"ui_text","z":"f49a345f.bd2618","group":"6092ba60.6e7174","order":24,"width":4,"height":1,"name":"","label":"ΔP da Placa de orifício [Pa]","format":"","layout":"row-spread","x":940,"y":60,"wires":[]},{"id":"2a09f9b4.49c576","type":"mqtt in","z":"f49a345f.bd2618","name":"","topic":"WebLab/FluxoDeCabecote/erroDeltaPPlaca","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":630,"y":880,"wires":[["2750c09b.663e8"]]},{"id":"2750c09b.663e8","type":"ui_gauge","z":"f49a345f.bd2618","name":"Erro absoluto da placa de orifício","group":"6092ba60.6e7174","order":16,"width":3,"height":3,"gtype":"gage","title":"Erro absoluto da placa de orifício","label":"","format":"{{value}}","min":0,"max":"2","colors":["#ff0000","#01e410","#ff0000"],"seg1":"0.7","seg2":"1.3","x":980,"y":880,"wires":[]},{"id":"5a9fa4b0.32969c","type":"ui_button","z":"f49a345f.bd2618","name":"Reiniciar","group":"6092ba60.6e7174","order":5,"width":2,"height":1,"passthru":false,"label":"Reiniciar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","x":260,"y":560,"wires":[["bd29745a.151408","e3ebee59.94974"]]},{"id":"50796d24.4cd864","type":"mqtt in","z":"8193c2b9.bb051","name":"","topic":"maua40/fabricando/proxpersonalizacao","qos":"0","datatype":"auto","broker":"287e2ee5.849902","x":170,"y":1420,"wires":[["cef2697c.7a6128"]]},{"id":"cef2697c.7a6128","type":"json","z":"8193c2b9.bb051","name":"","property":"payload","action":"","pretty":false,"x":430,"y":1420,"wires":[["34e94d55.8f23a2","62cf1532.45c91c","5cce4016.7398b"]]},{"id":"34e94d55.8f23a2","type":"function","z":"8193c2b9.bb051","name":"Nome","func":"var m = msg.payload;\nmsg.payload = m.Nome;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1380,"wires":[["ea2771a8.624fc"]]},{"id":"62cf1532.45c91c","type":"function","z":"8193c2b9.bb051","name":"ID","func":"var m = msg.payload;\nmsg.payload = m.ID;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1420,"wires":[["d1e130ce.3ed34"]]},{"id":"5cce4016.7398b","type":"function","z":"8193c2b9.bb051","name":"Frase","func":"var m = msg.payload;\nmsg.payload = m.Frase;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1460,"wires":[["9df1f74c.d165f8"]]},{"id":"ea2771a8.624fc","type":"ui_text","z":"8193c2b9.bb051","group":"3b975cba.10f454","order":16,"width":5,"height":1,"name":"Nome prox","label":"Nome","format":"{{msg.payload}}","layout":"col-center","x":921,"y":1380,"wires":[]},{"id":"d1e130ce.3ed34","type":"ui_text","z":"8193c2b9.bb051","group":"3b975cba.10f454","order":15,"width":2,"height":1,"name":"ID prox","label":"ID","format":"{{msg.payload}}","layout":"col-center","x":911,"y":1420,"wires":[]},{"id":"9df1f74c.d165f8","type":"ui_text","z":"8193c2b9.bb051","group":"3b975cba.10f454","order":17,"width":5,"height":1,"name":"Frase prox","label":"Frase","format":"{{msg.payload}}","layout":"col-center","x":921,"y":1460,"wires":[]},{"id":"651d0fa7.d5cfd","type":"ui_text","z":"8193c2b9.bb051","group":"3b975cba.10f454","order":13,"width":12,"height":1,"name":"Prox Personalização","label":"","format":"Produto levado para a fila de personalização","layout":"row-left","x":1180,"y":1400,"wires":[]}]